[2020-03-10 20:21] hnykda opened #7 "App deployment"
Design and implement the deployment of the application. Likely the following:

1. on a merge to `master`, deploy to production environment,  on a merge to `beta` branch, deploy to beta environment
2. it builds the dockerimage, push it to a registry, triggers the deployment

AC:
* it's possible to deploy the application, the application is working

[2020-03-10 20:34] hnykda opened #8 "view 1 - visualize model with CI intervals per area"
Based on Jan Kulveit's [description in slack](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1583621745001600) (also [this](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1583684215018500?thread_ts=1583675141.016900&cid=CV1F9NB5K)).

## Specification
### Selection
User should be able to select the following parameters:
* `area`: a selection from countries and cities (not hemi

[2020-03-10 20:43] hnykda opened #9 "view 3: form to request a specific model calculation"
initially likely a request for on-demand scenario simulation for the use of professionals / decision makers / health pros; the user would have the option to specify more precise location, and we would initially run the required simulations by hand [source of description](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1583621895004500).

A user should be able to submit a form, which is s

[2020-03-10 20:44] hnykda opened #10 "style basic landing page"
The current one is just for test purposes.

AC:
* A minimalistic page is accessible and one can navigate to the first chart/interaction

[2020-03-11 09:26] hnykda opened #11 "view 2: risk calculation based on the location"
For a given place, the user would input the size of an event; she would get a probability estimate someone is infected.

This will apply to the content reachable via navigation menu "Event Prediction" in the website, after submitting the form on this page.

## Spec
Inputs:
* size of an event
* date of the event (TBD?)
* (age?)

user clicks on a button

Outputs:
* probability of someone infected be

[2020-03-11 09:41] hnykda commented on #8
@hrosspet Are you willing to work on this one, primarily?

[2020-03-11 10:05] hrosspet commented on #8
Yes. It looks like there is currently nothing better for me to do :)

[2020-03-11 10:27] hnykda opened #12 "describe the data"
To prevent that everyone is duplicating the data understanding, it would be nice to have a data description in the repository (data can be [download here](https://drive.google.com/open?id=19sVNHAOn_zNkYGsKsAmW_JW578zQcpLK)). That means that every data file(-type) should be described as:

* what the name of the datafile means (e.g. `cities/123-3.tsv` - is that a city with ID 123 from the `md_cities

[2020-03-11 10:43] hnykda commented on #8
If you accidentally find something useful about the data spec, please put them to comments under #12 , it would be great to help someone who's gonna work on this.

[2020-03-11 12:49] hnykda commented on #8
@hrosspet Updated. Main points:

1. for MVP, we don't want the bands, especially not the ones from the files themselves. We really just want a line for the "Median".
2. we'll display 4 or 8 of these medians (we'll have like 8 files for each parameter-selection) in one plot, each of these will be a different model

[2020-03-11 12:56] hrosspet commented on #8
I just finished the visualization according to the previous specification (just the visualization, not the selection, yet). I pushed it now and will look into the changes after the lunch.

[2020-03-11 13:20] hnykda opened #13 "view 4: "bubble map" to go from landing page to view 1"
## Spec

### tech solution
I believe we want something like [gmap](https://docs.bokeh.org/en/latest/docs/user_guide/geo.html#google-maps) or [this](https://towardsdatascience.com/exploring-and-visualizing-chicago-transit-data-using-pandas-and-bokeh-part-ii-intro-to-bokeh-5dca6c5ced10)

## AC
* the view is working on the landing page and providing the click-through to the first chart

[2020-03-11 16:35] janpipek commented on #13
What data should the bubbles represent?

1. Some value from the a selected model
2. Real numbers as obtained from the public source?

What bubbles do we want to present?
1. Country-level
2. Predefined set of places

[2020-03-11 18:48] janpipek commented on #13
A very simple POC (without links and proper data):

https://gist.github.com/janpipek/130b29cd2afb641edd415f60fb3f72c3

produces something like this:

![image](https://user-images.githubusercontent.com/92804/76452331-424eda00-63d1-11ea-8f94-af04e47ec0f3.png)

[2020-03-11 18:49] hnykda commented on #13
can you link PR?

[2020-03-11 18:51] janpipek commented on #13
I have it only in a notebook, I will create a PR from that easily if you point me to a proper directory. /cc @hrosspet : How do you plan to manage individual visualizations?

[2020-03-11 19:02] hrosspet commented on #13
My idea is that we will implement visualization functions in `src/visualizations/utils.py`, which will generate html files to be embedded into the website. But I don't really understand this stuff, so I might be wrong :)

[2020-03-11 19:06] hnykda commented on #13
Yeah, that's wrong, read the readme: https://github.com/epidemics/covid#architecture [bokeh docs](https://docs.bokeh.org/en/latest/docs/user_guide/embed.html#app-documents).

[2020-03-11 19:07] hnykda commented on #13
It's fine to submit notebooks in e.g. `nbs` directory.

[2020-03-11 20:05] janpipek commented on #13
First thing tomorrow...

[2020-03-11 20:43] hrosspet commented on #13
Close enough :D I think I get it now.

[2020-03-11 21:33] hnykda opened #16 "get a certificate and implement SSL"
We have ingress -  SSL certs can be somewhat easily added to the [ingress definition](https://kubernetes.io/docs/concepts/services-networking/ingress/#tls) (see `deploy/chart/templates...`).

Ingress doesn't allow http redirects though, so we may have to:

1. keep http paths available too
2. set up https://www.starlette.io/middleware/#httpsredirectmiddleware so the app redirects http -> https

[2020-03-13 08:32] hnykda opened #29 "transformation pipeline for new data"
* there are some steps to wrangle the [data already](https://github.com/epidemics/covid/tree/master/data-prep)
* we want to be able to have a nice single pipeline out of it, which would output a file with all relevant data needed for the plots (the smaller, the better, of course). Could be e.g. HDF with multiple datasets in it.
* the data inside should be ideally fully self-described, i.e. that si

[2020-03-13 08:37] hnykda commented on #29
cc @hrosspet who worked on the last bit and have a better idea how the data should look like.

[2020-03-13 09:06] hnykda opened #31 "be strict about deployment branch names"
Currently not only `master` gets deployed to production, but every branch which has `master`... So e.g. a branch called `do-not-ever-push-to-master` will make it straight into production

Same is true for `staging`. (because in the github actions steps I  am using `contains(github.ref, "master")`, and not just `github.ref == "master"` or whatever should be there)

[2020-03-13 10:22] hnykda opened #34 "get credits/money for the project infrustructure"
We currently have 300$ and it seems that we burn maybe like 50$/day. But k8s will start to be 72$/month just for the node, therefore we may need to get more money...

Some rough calculation and maybe cluster optimization could be considered.

Related #35

[2020-03-13 10:28] hnykda opened #35 "add autoscaling"
Currently, we don't handle autoscaling anyhow intelligently.

The main node pool has scaling from 0-5 replicas, but the services themselves not and replicas are set to 1.

Using [horizontal pod autoscaler](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#autoscaling-on-multiple-metrics-and-custom-metrics) would probably help, even the default one:

[code]

[2020-03-13 10:30] hnykda opened #36 "optimize deployment strategy"
Currently, pushing to staging and production can be done independently (e.g. you can deploy something to production without first testing on staging). Is it OK?

Maybe if we removed the "build and push" step from the production pipeline, we would know that it can be deployed without first having it in staging.

Check with devs.

[2020-03-13 10:31] hnykda opened #37 "add "user feedback" option"
AC
* there is a way where user can provide a feedback (and that one is send to an email for example, e.g. [formspree](https://formspree.io/))

[2020-03-13 10:41] hnykda commented on #8
closed

[2020-03-13 10:41] #8 closed

[2020-03-13 10:41] hnykda commented on #8
via #23

[2020-03-13 10:42] hnykda opened #38 "Use DNS instead of IP addresses"
We currently have hardcoded IP addresses in our configs. Use domain names instead.

AC:
* chart values use domain names
* ingress have path specified

[2020-03-13 10:47] hnykda opened #39 "design automating model computation"
Instead of manually triggering the gleamviz computation, could we automate it? Design it and do some cards to implement it. Is it even possible with gleamviz?

related: #9

[2020-03-13 10:50] hnykda opened #40 "split server and charts dockerfiles/images"
Not sure if we want this one though, maybe it's easier this way than managing more images and deps.

See todo in Dockefile. Currently we use the same image for both server and bokeh and specify entrypoints everywhere.

[2020-03-13 10:51] hnykda opened #41 "serve static files from CDN"
Only if it's actually needed. We could reduce some load on the server if we hosted the static files elsewhere (JS and CSS). That would reduce responsivness of the site (userfriendlines) and reduce cost on compute cost and egress between the client and the server.

https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1584518497196200?thread_ts=1584472523.152600&cid=C0100EK7N8N

Solution:
* a

[2020-03-13 16:04] hnykda opened #42 "add analytics"
We want to add some analytics to the website to see the number of visits and some default demographics information.

Google Analytics comes into mind.

AC:
* we have basic information about the number of visits and stuff

[2020-03-13 16:30] hnykda commented on #7
Closed via #18

[2020-03-13 16:30] #7 closed

[2020-03-13 18:49] lunemec commented on #34
@hnykda you can set-up your k8s nodes to be preemptible, that is way cheaper, but will cause nodes to be restarted unscheduled at random. If this is simple website that can tolerate it, it should not be a problem.
I looked in charts but I don't see it there. This will be in the k8s cluster settings.
Also reducing number of nodes, and correctly configuring cpu/memory requests/limits in the charts c

[2020-03-13 20:19] hnykda commented on #34
Hey, thanks Lukas for suggestions. I have actually used preemptible nodes already: https://github.com/epidemics/infra/blob/master/gke.tf#L73 .

[2020-03-14 15:13] janpipek commented on #11
Will try to give this a look, together with @Mati-Roy .

[2020-03-14 16:40] janpipek opened #49 "Suggestion: Data Model for the server"
I suggest to have a `data_model` package that will serve for both the `charts` and `server` with the following API:

[code]

Related to #29 and #12

[2020-03-14 20:23] lagerros commented on #11
The actual calculation listed in here is old, this is the current model we'll be working with: https://www.notion.so/Modelling-d5e0bdaf1733416981ad12c78c69e7d3

[2020-03-14 20:43] Mati-Roy opened #55 ""Cancel your event" page 1 UI"
https://www.figma.com/file/4FTT6neJVlMD5CQHTTpprF/Covid?node-id=0%3A1

[2020-03-14 21:22] Bachibouzouk opened #56 "The website is not responsive at all"

[2020-03-15 01:28] Bachibouzouk opened #58 "There is no changelog file"

[2020-03-15 02:46] Bachibouzouk opened #61 "The model graph does not have axis labels"
From https://bl.ocks.org/d3noob/23e42c8f67210ac6c678db2cd07a747e

[code]

[2020-03-15 08:26] #58 closed

[2020-03-15 08:27] #56 closed

[2020-03-15 12:02] gavento commented on #49
You may be interested in the Regions api in https://github.com/epidemics/gleamviz-import/blob/master/fttogv/regions.py . Comes with the regions structure data file in https://github.com/epidemics/gleamviz-import/blob/master/data/regions.csv (we are still doing minor updates, but it already contains all Foretold, CSSE and GlemViz regions with GleamViz city IDs)

[2020-03-15 12:54] hnykda commented on #42
#70

[2020-03-15 13:03] #55 closed

[2020-03-15 14:33] Bachibouzouk commented on #42
This could be closed now, no?

[2020-03-15 15:12] Bachibouzouk opened #76 "The jinja function url_for is not used everywhere for paths"
This is a "nice-to-have" with lower priority

Example
`<link href="../static/css/main.css" rel="stylesheet" />`
would become
`<link href="{{ url_for('static', path='/css/main.css') }} rel="stylesheet" />`

If you want the url of a view you can simply use `url_for(<name of the view>)`

[2020-03-15 15:12] Bachibouzouk opened #77 "There is no license for the data or the code"
I would propose CC 0 for the data and AGPL-3 for the code

[2020-03-15 15:32] lagerros opened #78 "For each country-specific view (view 1), display text of containment measures from containment measures database"
The measures for each location can be found in this database: https://www.notion.so/977d5e5be0434bf996704ec361ad621d?v=aa8e0c75520a479ea48f56cb4c289b7e

Not yet implemented: parser from notion to pandas or csv

[code]

The containment measures could be in the sidebar with similar design as the previous one (one entry for each date, descending)

[2020-03-15 15:34] #42 closed

[2020-03-15 15:35] hnykda commented on #13
Considered done, followups via new cards

[2020-03-15 15:35] #13 closed

[2020-03-15 15:39] Bachibouzouk commented on #78
To which view name in `main.py` does view 1 corresponds?

[2020-03-15 15:48] lagerros commented on #78
http://epidemicforecasting.org/model

`@app.get("/model")`

[2020-03-15 15:51] lagerros commented on #78
If you want to take this on @Bachibouzouk feel free to assign yourself to it

[2020-03-15 15:54] Bachibouzouk commented on #11
@lagerros and what about view 2? I would guess `request-calculation` (are these view numbers mapped to the actual name of the url path somewhere?) however #52 modifies both `request-calculation` and `selections` (`selections` was also seemingly replaced by `request-event-evaluation`...)

[2020-03-15 16:01] Bachibouzouk commented on #78
I will work on #52 first, then I'll see if it is still free :)

[2020-03-15 16:04] lagerros commented on #78
Excellent, just checking you've seen this, which contains the most update calculations to be made? https://www.notion.so/Modelling-d5e0bdaf1733416981ad12c78c69e7d3

[2020-03-15 16:07] Bachibouzouk opened #80 "Date format should/could be enforced to ISO 8601, global standart numeric date"
https://xkcd.com/1179/

YYYY-MM-DD

ISO since 1988...

[2020-03-15 16:08] Bachibouzouk commented on #78
Yes I was merging the conflicts from the `risk` branch of #52 and then I was about to start reading this document. Have you seen my question [there](https://github.com/epidemics/covid/issues/11#issuecomment-599228279)?

[2020-03-15 16:13] lagerros commented on #11
I'm sorry I don't understand the question. The thing that used to be called "view 2" is the same as #52

[2020-03-15 16:19] Bachibouzouk commented on #11
Yes but there there is modification of both selections.html template and result-calculations.html template which I believed are two different views. Is view 2 what I get when I click on "Request model" or on "Event prediction", or both?

[2020-03-15 16:56] Bachibouzouk commented on #11
@lagerros ? I need to know on which view function I need to implement #52

[2020-03-15 17:20] lagerros commented on #11
Sorry for late reply, slack is better for contacting me urgently

[2020-03-15 17:21] lagerros commented on #11
View 2 is what you get when you click on "Event prediction", as mvp:ed here http://epidemicforecasting.org/request-event-evaluation

[2020-03-15 17:30] Bachibouzouk commented on #11
Thanks, I will contact you on slack in the future :)

[2020-03-15 19:29] Bachibouzouk commented on #9
@hnykda - it would have been easier to say "This should look like'Private Form Copy'" in https://www.figma.com/file/4FTT6neJVlMD5CQHTTpprF/Covid

[2020-03-15 20:16] hnykda commented on #9
These designs arrived after this was specced :-)

[2020-03-15 23:09] Mati-Roy commented on #11
just FYI / for ref.: I'm starting to work on the UI for the result page now

[2020-03-16 00:09] #37 closed

[2020-03-16 09:07] #78 closed

[2020-03-16 10:40] Mati-Roy opened #94 "Missing footer UI"

[2020-03-16 11:43] #61 closed

[2020-03-16 11:49] hnykda commented on #76
Fixed #98

[2020-03-16 11:49] #76 closed

[2020-03-16 14:20] #38 closed

[2020-03-16 14:20] #40 closed

[2020-03-16 14:21] hnykda commented on #10
I consider this as done via numerous merges. Thanks Ondra!

[2020-03-16 14:21] #10 closed

[2020-03-16 14:21] #9 closed

[2020-03-16 14:31] hnykda opened #104 "Display predicted, actual cases + population on model pages"
## Technical
@lagerros is going to compile a fixed JSON indexed by Country, we place that as a file at GCS and render number in the similar way as we now do with the plot or did with countermeasures, or how done by @Mati-Roy [here](https://github.com/epidemics/covid/pull/160/files#diff-58cc30c2dfe9e8a85641965af7c25cfdR454).

Proper data from pipeline will be provided later.

Numbers are [1](https:

[2020-03-16 14:34] hnykda opened #105 "Fix filtering of country countermeasures"
Currently, it always shows just China.

![image](https://user-images.githubusercontent.com/2741256/76768703-ac81c900-679b-11ea-910c-55c2b38e2f01.png)

AC:
* when a country is selected, only countermeassures for the country are selected

[2020-03-16 14:52] Bachibouzouk commented on #105
You can change it here to `None` https://github.com/epidemics/covid/blob/9cca928c95463b9fd4d2c5ce4f7a7c65c7e9d238/src/server/main.py#L114

What did not work was that I could not get the argument via the view (but the URL was working), I described the stand of my knowlegde before I went to bed ther : https://github.com/epidemics/covid/pull/88#issue-388892323

[2020-03-16 14:57] hnykda commented on #105
Well, javascript is needed for that I am afraid (we should fetch data async on a change i.e. via different endpoint and update only that part of the site or fetch everything from frontend and filter it on frontend).

[2020-03-16 14:57] hnykda commented on #105
Can you do it?

[2020-03-16 14:59] Bachibouzouk commented on #105
I can do it, but I am much more fluent in python than js

[2020-03-16 15:00] hnykda commented on #105
Same here... Would be great to get someone comfortable with JS

[2020-03-16 15:00] Bachibouzouk commented on #105
And I am not sure I understand the order of the commands and how the d3 surcharge of the onchange affect the "normal" triggering of events

[2020-03-16 15:02] Bachibouzouk commented on #105
With flask I know that using $.get from the template should provide a response to the template and can be done with jinja code. If no one else did it, I can do it in js with the `success` attribute of the $.get function

[2020-03-16 15:13] hnykda commented on #105
Looking at the code, I don't think we have to mess with `d3`. We should listen `on_change` on this button: https://github.com/epidemics/covid/blob/master/src/server/templates/model.html#L69, based on which an ajax call on a new endpoint which can be e.g.:

[code]

and in JS it would be something like this I did in the past (**CAUTION! THIS MAY BE ENTIRELY WRONG, I HAVENT TESTED IT**):
[code]

[2020-03-16 15:31] lagerros opened #106 "Automatically and regularly load data from containment measures database"
@Bachibouzouk made [a PR](https://github.com/epidemics/covid/pull/88) for displaying containment measures from a .csv exported from [the Notion database of containment measures] on country pages

We ideally want this feeding of data to be automatic rather than manual; and to have it update whenever the Notion database updates.

Notion doesn't have an API, but there's [an unofficial Python API wrap

[2020-03-16 15:55] lagerros opened #107 "Automatically and regularly run GLEaM simulations for different parameter settings"
Current parameter configurations are listed in [this Notion database](https://www.notion.so/12002dfa280a46748ac27cee1ff42bea?v=ec9d76c64cb9499899c8a160f328eb10).

This is currently done by hand, and the files are then manually imported to the server.

Ideally we'd find some kind of GLEaM API and be able to regularly run new simulations for all the different parameter configurations (as well as fle

[2020-03-16 17:32] Bachibouzouk commented on #105
The onchange method of the dropdown is overloaded [here](https://github.com/epidemics/covid/blob/552c94fa68855d32510436b062fb4395d22b2026/src/server/static/js/lines.js#L253) by the d3 code (this is why the function I had assigned to the onchange event didn't do anything, it was assigned once and immediately replaced by another onchange function by the d3 code)

[2020-03-16 20:37] Bachibouzouk opened #109 "The containment measures sidebar is only roughly styled"
- could have a scroll bar on desktop computers to not expand the content of the div too far below
- are fontsize, color, spacing etc good?

This list is generated by a js loop, but each element is in the following div
[code]
These classes can be used for styling

[2020-03-16 21:33] #94 closed

[2020-03-16 21:44] #105 closed

[2020-03-16 22:36] Bachibouzouk commented on #106
The measures for each location can be found in this database: https://www.notion.so/977d5e5be0434bf996704ec361ad621d?v=aa8e0c75520a479ea48f56cb4c289b7e

Not yet implemented: parser from notion to pandas or csv

[code]

The containment measures could be in the sidebar with similar design as the previous one (one entry for each date, descending)

[2020-03-16 22:37] lagerros opened #113 "Containment measures only updates on refresh, or adds new country measures instead of replacing"
#108
E.g. if I am on this page:
![image](https://user-images.githubusercontent.com/21347592/76805332-c28f8980-679b-11ea-8bc7-0cbebfb86015.png)

http://epidemicforecasting.org/model?selection=France

And go to Japan, it gets added underneath the current list:

![image](https://user-images.githubusercontent.com/21347592/76805371-d89d4a00-679b-11ea-8e49-f1b8678c7f1b.png)

@Bachibouzouk

[2020-03-16 23:09] Bachibouzouk commented on #106
One can use `row.description_of_measure_implemented` and `row.date_start.start`, the other ones are just in small caps.

Strategy:
[code]

The for each row fill the arrays, then create a DataFrame with `df=pd.DataFrame.from_dict(data)`
and insert that [here](https://github.com/epidemics/covid/blob/a3e9bffeaa2284d4cf64d7e8d7ce3f01fc80ef41/src/server/main.py#L60).

[2020-03-16 23:09] Bachibouzouk commented on #106
I am AFK until tomorrow eve, if someone wants to implement this feel free!

[2020-03-16 23:13] #113 closed

[2020-03-17 00:23] #77 closed

[2020-03-17 02:32] davidoj commented on #11
I submitted this pull request - I can't link it to this issue, perhaps I don't have appropriate permissions
https://github.com/epidemics/covid/pull/96

Details of what was added:
I added the parameter
 - reduction in transmission you expect in your country

It would be good to connect this to the other part of the model - I could replace it with a selection of beta values, for example

I added cal

[2020-03-17 02:37] gavento commented on #29
I implemented another data import directly from Gleam HDF5: https://github.com/epidemics/covid/blob/data_pipeline/data-prep/process_data_hdf.py
Run it as `python process_data_hdf.py ~/GLEAMviz/data/sims/*.gvh5` but ONLY works if you give it exactly the 24 parameter settings we are currently processing.

The model parameters are determined from the `definition.xml` files in the `*.gvh5` directories

[2020-03-17 02:39] gavento commented on #12
There is a new tool to do the wrangling directly from GleamViz hdf5 files, see #29

[2020-03-17 02:43] gavento opened #116 "Static files in GCS have too long cache times"
The GCS cache where the data files are stored has a default timeout of 1h - too much to do any experiments. Also will be problem later in production.
Now, when you update the data file (preserving the name), the cache keeps and serves the old data for 1h. Even if you delete it in GCS, the file is still served :man_shrugging:

Individual files can get `Cache-control: public, max-age=10`, but needs

[2020-03-17 02:45] gavento opened #117 "Brittle data handling in lines.js"
The JS code in https://github.com/epidemics/covid/blob/master/src/server/static/js/lines.js#L65 explicitely tests for `beta === "0.0"` etc, which breaks any other (valid) floating number encoding in the data (e.g. `0.00`, `0`). Can we make it more robust?

[2020-03-17 02:48] gavento opened #118 "Add initial_infected_per_1000 to data"
The negative infected numbers we saw in line data do make sense, since the countries should not start at 0 infected but at the number we set them to be in the simulation. Heavily pre-infected countries like Iran then quickly get into negative. Not sure how to get this data in the fastest way, though - they are not a part of the GV export not HDF5.

[2020-03-17 02:50] gavento commented on #118
Quick hack: assume that the country has (close to) 0 infected at some point, take -minimum as the initial value. (Tested for Iran on currently live data and matches well.)
See: https://github.com/epidemics/covid/blob/data_pipeline/data-prep/process_data_hdf.py#L29

[2020-03-17 04:53] #11 closed

[2020-03-17 05:51] #109 closed

[2020-03-17 08:31] hnykda commented on #116
We hacked around that by changing the filename up until now (that `-v2` there). Sorry, I should have warned you: https://epidemicforecasting.slack.com/archives/C0100BY1EJZ/p1584368895020800?thread_ts=1584361377.006400 .

The reason why I selected GCS is that when the file was served by the BE, it was quite slow. Also GCS bucket is multiregional, so it's also faster from wherever.

Anyway, I added

[2020-03-17 11:06] gavento commented on #116
Thanks!

* 10 seconds may be too little for later loads. Maybe we should go for 60?
* If anyone reloads the web between new upload and the caching param. updates, the default 1h timeout will be applied and most (but not all, depends on region) clients will see it for ~1 hour.
* Can we trigger the pipeline without a push? (convenience)

[2020-03-17 11:07] gavento commented on #116
Maybe we should have an upload script that sets the cache params (with name, sharing etc.)?

[2020-03-17 11:16] hnykda commented on #116
I was under an impression that we are going to update the files like once a day at most (and we are still quite far from that). And even if we did, I don't think users should know anything about us updating the model.

No :-( . Devs can use `git commit --allow-empty -m "wakey wakey GitHub Actions" && git push`  :-1:

We can, but you need proper permissions to be able to run that (that's why I put

[2020-03-17 11:51] Mati-Roy opened #123 "model view: various UI fix"
From @Jacob (https://epidemicforecasting.slack.com/archives/CV0GGP151/p1584421050240600?thread_ts=1584420188.240200&cid=CV0GGP151)

[2020-03-17 12:22] Mati-Roy opened #125 "Hospital line data provision"
add hospital data into the [notion spec](https://www.notion.so/Data-specs-b0a76e480f3c4eedacf7b9384ca3aa67) (design it) and populate the data in the pipeline, upload them.

@gavento proposes [here](https://epidemicforecasting.slack.com/archives/CV0GGP151/p1584410272236900):

@Jacob replies [here](https://epidemicforecasting.slack.com/archives/CV0GGP151/p1584410742237400?thread_ts=1584410272.236900

[2020-03-17 12:29] Mati-Roy commented on #117
what about this?
`parseFloat(beta)===parseFloat("0.0")`

[2020-03-17 12:51] Mati-Roy opened #126 "model visualization legend"
@Jacobs says [here](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1584419490129000):

@Jan K. says [here](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1584430353129800?thread_ts=1584419490.129000&cid=CV1F9NB5K):

[2020-03-17 12:52] Mati-Roy commented on #126
I think those lines:
[code]
have those colors:
[code]

[2020-03-17 13:29] Mati-Roy commented on #126
x-post with Slack

[2020-03-17 16:33] jk3141 opened #129 "Remove the text in footer"
remove this: Disclaimer: All data used to produce this map are exclusively collected from publicly available sources including government reports and news media

[2020-03-17 16:34] jk3141 opened #130 "Display of countermeasures"
Display the countermeasures from the most recent

[2020-03-17 16:35] jk3141 opened #131 "MITIGATION STRENGTH -> GLOBAL MITIGATION STRENGTH"
MITIGATION STRENGTH

[2020-03-17 19:39] hnykda commented on #129
https://github.com/epidemics/covid/commit/339d5b687d5fb34e2f52fb46f31972004e5bb3c6 solved

[2020-03-17 19:39] #129 closed

[2020-03-17 19:41] hnykda commented on #131
Solved https://github.com/epidemics/covid/commit/82c43cf1e350362980d68f411eed691b8532bcf2

[2020-03-17 19:41] #131 closed

[2020-03-17 20:11] hnykda commented on #130
solved via #133

[2020-03-17 20:11] #130 closed

[2020-03-17 21:00] lagerros opened #135 "Rescale graph to be in range"
Currently the y-axis doesn't adjust to fit the data, c.f.
![image](https://user-images.githubusercontent.com/21347592/76900767-35aa0600-6857-11ea-91a0-88f7bc017c02.png)

This should be fixed so that you can always see the entire graph.

(Y-axis will at most go to 100%)

[2020-03-17 21:10] lagerros opened #136 "Prevent x-axis label from being hidden"
This takes off from #132 , which introduces this styling problem. When the font size is increased and the label "Date" is placed lower beneath the graph, it gets hidden behind some black content.

![image](https://user-images.githubusercontent.com/21347592/76902315-f67cb480-6858-11ea-9e40-4f0e69f19b3e.png)

[2020-03-17 21:14] lagerros commented on #135
Solved by #137

[2020-03-17 21:14] #135 closed

[2020-03-17 21:36] Matoo125 commented on #136
done

[2020-03-17 21:36] #136 closed

[2020-03-17 21:42] Matoo125 commented on #125
https://github.com/epidemics/covid/pull/137

[2020-03-17 21:58] lagerros opened #139 "Dynamically display country name (tiny easy fix)"
Based off of #138

Make this reflect the actual country selected from the dropdown menu on the "Model" page:

![image](https://user-images.githubusercontent.com/21347592/76905726-bf5dd180-685f-11ea-92bd-d6db964da3b5.png)

[2020-03-17 22:22] lagerros opened #140 "Update color scheme to reflect designs"
Here's what we're shooting for in terms of colors (moving away from the current all black):

![image](https://user-images.githubusercontent.com/21347592/76907194-dbaf3d80-6862-11ea-9761-2f32208cf452.png)

Colors and more sketches can be found in [this Figma file](https://www.figma.com/file/4FTT6neJVlMD5CQHTTpprF/Covid-WorkFile?node-id=0%3A1)

[2020-03-17 22:24] lagerros opened #141 "Add scrolling for containment measures sidebar"
Currently the sidebar takes over the whole page:
![image](https://user-images.githubusercontent.com/21347592/76907401-5d9f6680-6863-11ea-8fa0-69d10f85fbcb.png)

We'll want to instead give it a limited height, within which one can scroll down.

One reason for this is that we might want to fit other things in the sidebar, like additional statistics or an institution logo

[2020-03-17 23:39] lagerros opened #142 "Make the "Models" page the main page"
Currently the main page is the bubble map (called "Public information"). However, we want to de-emphasize that and focus on the core product which is the gleam-supported model.

When one clicks "Epidemic forecasting" one should be taken to the "Models" page, and the url epidemicforecasting.org should redirect to the "Models page"
![image](https://user-images.githubusercontent.com/21347592/76911284

[2020-03-17 23:41] lagerros opened #143 "Renaming of tabs"
- Rename "Event prediction" tab to "Should I cancel my event?"

- Rename "Public information" to "Case map"

![image](https://user-images.githubusercontent.com/21347592/76911356-faff9800-686d-11ea-96df-cd116d430464.png)

[2020-03-17 23:49] lagerros opened #144 "Add case count and prediction to sidebar on "Models" page"
Above the "Containment measures" we want to display another section:

...

CASE COUNT

**Confirmed: 180**
**Estimated true infections: 800 to 10000** (90% confidence)

(Updated March 15)

...

![image](https://user-images.githubusercontent.com/21347592/76911421-3601cb80-686e-11ea-99a8-08c3c5088115.png)

The confirmed number should be sourced from the John Hopkins/CSSE data, and the estimate should

[2020-03-18 00:01] #139 closed

[2020-03-18 00:15] lagerros opened #146 "display percentages on y-axis"
On the "Models" page.

![image](https://user-images.githubusercontent.com/21347592/76912965-dfe35700-6872-11ea-816c-574f541ab89e.png)

These should be formatted "0%" to "65%" rather than just "0" to "65".

It's unclear why this line in `lines.js` isn't working:
![image](https://user-images.githubusercontent.com/21347592/76912913-b296a900-6872-11ea-9e1c-ae4d038e6982.png)

[2020-03-18 00:19] lagerros opened #147 "Make the graph on the "models" page full width"
Don't leave awkward spacing to the right between the graph and the "containment measures" sidebar

![image](https://user-images.githubusercontent.com/21347592/76913169-74e65000-6873-11ea-8dc9-90727acc27d4.png)

[2020-03-18 00:25] lagerros opened #148 "Change site title (but not the url)"
The top left corner should say "COVID-19 FORECASTING" rather than "EPIDEMIC FORECASTING"

![image](https://user-images.githubusercontent.com/21347592/76913404-22596380-6874-11ea-8450-33d55821af75.png)

[2020-03-18 00:27] wolverdude commented on #141
@lagerros It sounds like you want both columns to scroll independently, in which case they would both need to be capped in height.

I'll add a media query so this only applies to large screens since Bootstrap stacks columns for narrow screens, and adding a height restriction in that case could make the site unusable.

[2020-03-18 01:05] lagerros commented on #141
I confirm, that sounds good.

[2020-03-18 04:22] lagerros opened #151 "Add trajectory visualisation from models page to event-calculation results page"
This graph:

![image](https://user-images.githubusercontent.com/21347592/76925018-54c78880-6895-11ea-8038-36e9ffad83af.png)

should be added here, in the location saying "caseGraph":

![image](https://user-images.githubusercontent.com/21347592/76925058-70cb2a00-6895-11ea-97b7-d9f438bd3359.png)

[2020-03-18 04:51] lagerros opened #152 "Make countries appear in alphabetical order for country-selector in event decision tool"

[2020-03-18 04:52] lagerros commented on #144
Related to : https://github.com/epidemics/covid/issues/104

[2020-03-18 04:54] lagerros commented on #126
Make sure that the legend is _always visible_, and not just on hover.

[2020-03-18 05:13] wolverdude commented on #146
I should note it's not inherently clear what it's a percentage of. The entire country's population? We might want to include that in the axis label.

[2020-03-18 05:25] lagerros commented on #146
Good point. Country population. Do include it!

[2020-03-18 08:21] hnykda opened #156 "Fix font awesome CDN load"
![image](https://user-images.githubusercontent.com/2741256/76940045-cf29f400-68f9-11ea-8c40-b09328e5d714.png)

Ac:
* font awesome loads without an error

[2020-03-18 08:44] hnykda commented on #144
@gavento Do we have data for this in the pipeline so it can be fetched from FE? If not, can you please do it?

[2020-03-18 08:52] #142 closed

[2020-03-18 08:53] #143 closed

[2020-03-18 08:53] #148 closed

[2020-03-18 10:03] Mati-Roy commented on #126
here's what I have:
![image](https://user-images.githubusercontent.com/5873950/76948941-2c17b100-68de-11ea-9995-5a71b132f38e.png)

[2020-03-18 11:25] Mati-Roy commented on #151
![image](https://user-images.githubusercontent.com/5873950/76956063-b0236600-68e9-11ea-9ca2-0828ef20671d.png)

[2020-03-18 11:27] Mati-Roy commented on #152
AFAICT, it's already like this (?)
![image](https://user-images.githubusercontent.com/5873950/76956205-f8428880-68e9-11ea-929c-9f2aa0c25fb7.png)

[2020-03-18 12:54] Mati-Roy commented on #144
I've done the UI, but the data still need to be connected

![image](https://user-images.githubusercontent.com/5873950/76962647-fd0d3980-68f5-11ea-98be-22424a316395.png)

[2020-03-18 13:19] hnykda commented on #144
I like it :+1: , good start

[2020-03-18 16:02] #141 closed

[2020-03-18 16:28] wolverdude commented on #147
It's still messed up for me.

![Screen Shot 2020-03-18 at 9 27 10 AM](https://user-images.githubusercontent.com/4276302/76983564-dbfb1780-68fa-11ea-9346-1597f58adc00.png)

[2020-03-18 16:31] wolverdude commented on #152
It's still messed up for me.

![Screen Shot 2020-03-18 at 9 27 10 AM](https://user-images.githubusercontent.com/4276302/76983740-254b6700-68fb-11ea-8774-73017a2ebe7f.png)

[2020-03-18 16:39] lagerros commented on #152
Mati what branch are you on?

On the [actual site](http://epidemicforecasting.org/request-event-evaluation) (master) it's still messed up for me.

[2020-03-18 20:20] wolverdude commented on #146
So the current metric on the y-axis is *Active infections per 1000 people*. Should I transform that to percentages or just make the axis label accurate?

[2020-03-18 20:36] wolverdude commented on #146
I'm going with the *Active infections per 1000 people* solution, since to do otherwise would require re-scaling not just the axis but all of the data as well.

[2020-03-18 20:51] hnykda commented on #106
Looks like a good idea!

[2020-03-18 21:06] lagerros opened #165 "Countries should start with capital letter (otherwise "containment measures" breaks)"
See this page:

![image](https://user-images.githubusercontent.com/21347592/77007474-85550400-6921-11ea-80e6-b5cfb9122333.png)

For example, it should say "India" rather than "india".

This was fine yesterday, but changed recently, I think due to #161

Also, when we're using small capitals it breaks the integration with the "containment measures" database, c.f. #108 (The person who is working on t

[2020-03-18 21:09] lagerros opened #166 "Show the entire graph when user lands on home page"
Currently looks like: ![image](https://user-images.githubusercontent.com/21347592/77007678-dbc24280-6921-11ea-8feb-44008a9fafd5.png)

Instead, we want the user to:
1) See the entire graph
2) See at least the top of text below, so they know there is more content if they scroll down

[2020-03-18 21:11] Bachibouzouk commented on #165
We can perfectlu

[2020-03-18 21:18] Bachibouzouk commented on #165
Could we use country ISO (with 3 letters) for the values, that way we don't get in trouble with countries which might have different spelling or dash/no dash etc ?

[2020-03-18 21:23] Matoo125 commented on #165
Yes this broke with changed data source. I'm using object keys (that are lower case), instead of object[key].name  ... unfortunately my brain doesn't want to cooperate anymore. So I will go to sleep. It should be easy to fix.

[2020-03-18 21:23] Bachibouzouk commented on #165
ISO3166-1Alpha3 in https://datahub.io/core/country-codes
Or Alpha3 in https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv

[2020-03-18 21:26] lagerros opened #167 "Integrate all formspree forms into the same account"
Was previously Pierre's account, people who currently have access to it:

- @Bachibouzouk
- @Mati-Roy
- @lagerros
- Jan Kulveit
- Nora Ammann

[2020-03-18 21:28] lagerros opened #169 "Add formspree for "Did this change your mind?" on events page"
Related to #167 and #159

![image](https://user-images.githubusercontent.com/21347592/77009180-b71b9a00-6924-11ea-92a6-01ecf7486434.png)

[2020-03-18 21:43] wolverdude commented on #146
@janpipek What exactly is the y-axis here?

[2020-03-18 21:45] lagerros commented on #146
FYI Jan Kulveit (research lead) is not the same person as Jan Pipek.

[2020-03-18 21:45] #147 closed

[2020-03-18 21:59] wolverdude commented on #146
Ah. I couldn't find another Github handle, so I assumed. Bad assumption. someone on @epidemics/data should know the answer to this though.

Data people: What is the precise meaning of the y-axis? It is currently labeled "Active infections", but Jan Kulveit said it actually represents "transitions". There's also some confusion as to whether it's scaled *per 1000 people* or *per 100 people*.

[2020-03-18 22:02] lagerros opened #170 "Only x-axis (but not graph lines) extend to full-width"
The model used to go into 2021, but following #147 it only goes into fall of 2020:

![image](https://user-images.githubusercontent.com/21347592/77011562-5c387180-6929-11ea-9644-4c8a1f8acb91.png)

[2020-03-18 22:04] gavento commented on #146
The data from the JSON is now per 1000 people. Not sure what gets displayed.

[2020-03-18 22:05] lagerros opened #171 "Add separate production and staging branches"
We want to distinguish:
1) Stable MVP that can be shown to users
2) Work-in-progress that might change a lot following new design changes

[2020-03-18 22:06] lagerros opened #172 "Remove footer from "Models" page and instead put institution logos in sidebar"
The footer looks janky when the oxford logo is so tiny. It also takes up a lot of space without adding much content.

Instead let's go back to this look:
![image](https://user-images.githubusercontent.com/21347592/77011844-f4365b00-6929-11ea-8bde-f1652f00d694.png)

[2020-03-18 22:11] lagerros opened #173 "Store Notion token in repo encrypted with a key stored in Google KMS"
Necessary for #106

@Bachibouzouk will have the key etc.

[2020-03-18 22:12] lagerros commented on #146
Pinged Jan now hopefully he'll resolve this soon.

[2020-03-18 22:33] wolverdude commented on #146
According to Jan, it is *New infections per day per 1000 people*

[2020-03-18 22:34] lagerros opened #174 "Compute and add more user friendly unit for y-axis"
This is not urgent, don't focus on it for the MVP, but it will be helpful later.

Currently we are displaying "New infections per day per 1000 people"

A better unit would be "Active infections as a percentage of the population"

This could probably be computed from gleamviz data as "cumulative transitions into the infected bucket - cumulative transitions out of the infected bucket".

[2020-03-18 22:38] #146 closed

[2020-03-18 22:39] #140 closed

[2020-03-18 22:48] wolverdude commented on #117
The offending line has been removed sometime in the interim, so this is no longer relevant.

[2020-03-18 22:48] #117 closed

[2020-03-18 23:17] lagerros commented on #172
Closed by #175

[2020-03-18 23:17] #172 closed

[2020-03-18 23:50] wolverdude commented on #170
The culprit here is actually #161. When they changed the data format, they included less data into the future. Still, the chart _should_ zoom the axis in response. I'll figure out how to get it to display right.

[2020-03-19 02:33] lagerros commented on #170
@gavento @Matoo125 FYI that you removed some data with the new format.

Apart, from that, closed with #177 .

[2020-03-19 02:33] #170 closed

[2020-03-19 02:34] lagerros commented on #126
This has now been merged and is good enough for the mvp.

Later enhancement will involve turning the chart into d3 and overlaying it on top of the graph rather than having it by the side.

[2020-03-19 02:34] #126 closed

[2020-03-19 03:47] lagerros opened #180 "Feed real data into case count (given new data format)"
Related to #160 and #161

We want them to be updated to display real data on confirmed cases and estimated cases, in the format outlined in the issue.

[2020-03-19 04:16] lagerros commented on #125
I collected data on critical care beds per 100k population in various countries https://www.notion.so/9db3df0271214655b13c17bb7565c40c?v=5e75cc3aed784a6baf42826304e7a923

[2020-03-19 05:23] wolverdude commented on #166
That should be a simple fix. I considered adding a `max-height` to it before but wasn't sure it was necessary. I'll do that tomorrow morning. Signing off for the night now.

[2020-03-19 05:27] wolverdude commented on #125
Should it just show up as a horizontal line like this?

![image](https://user-images.githubusercontent.com/4276302/77034510-6ed19b80-6967-11ea-9af4-93e97ea0bf2d.png)

It seems like this feature in particular will make zoom/scroll more necessary. Where is that in the pipeline?

I'm signing off for the night now. I'll look deeper into this in the morning.

[2020-03-19 08:42] Matoo125 commented on #165
FE part solved by https://github.com/epidemics/covid/pull/181 .

[2020-03-19 09:48] gavento commented on #174
No, we **are** displaying "Active infections per 1000 people", that is the current meaning of the `infected_per_1000` data series in the JSON. (Converting to percentage is just /10)

I can add "New infections per 1000 people", "New recovered per 1000 people" or anything similar quite easily as additional series (same format) if you want. However, it doubles/multiplies the file size so I won't righ

[2020-03-19 09:54] gavento commented on #39
No, we communicated with the Gleam side and the best they can do is give us higher limit for parallel runs, but we need to run them in GUI.

As a minor fix, I implemented a way to auto-import and auto-export the data from GleamViz:
* to Gleamviz: https://github.com/epidemics/epifor/commit/7cff764184658d32dd7e0528d1e7d061a0f95c37
* from GleamViz: Pass the *.gvh5 dirs to https://github.com/epidemics

[2020-03-19 09:54] #39 closed

[2020-03-19 09:59] gavento opened #183 "Graph Y-label if factually wrong!"
It should read "Active infections per 1000 people", that is the semantics of the `infected_per_1000` data series in the JSON.

Related: #174 - While changing this, it should be easy to display the numbers as percentages (and divide them /10)

[2020-03-19 10:24] gavento commented on #34
While getting explicit infrastructure funding should be on our roadmap, I would hope this not to be a problem:
* Most of the processing moved to the browser (D3 loading data from static files - hosting those is very cheap up to 1M views / day)
* We could just ask google for credit? It is obviously for a good cause; they only give us resources if it gets very popular; we could display acknowledgeme

[2020-03-19 10:25] gavento commented on #16
@hnykda can this be closed now that we have those certificates implemented?

[2020-03-19 10:38] #123 closed

[2020-03-19 10:57] hnykda commented on #16
Do we?

[2020-03-19 11:05] gavento commented on #107
Note this is not possible with Gleam, @lagerros even contacter Gleam authors.
I have a semi-automated data pipeline in https://github.com/epidemics/epifor/, and I will hand it over to Anna Gajdova to run & publish the experiments on demand.

[2020-03-19 11:09] gavento commented on #16
Ah, sorry :man_facepalming:, I though kobzol resolved that ...

[2020-03-19 11:35] jk3141 opened #184 "Return to a nice design"
The landing page now displays
- two scrollbars
- a white bar
which break the design.

![Screenshot 2020-03-19 at 09 34 27](https://user-images.githubusercontent.com/38469878/77063431-98c1a700-69d5-11ea-8e6f-0b5887468701.jpg)

[2020-03-19 11:37] #184 closed

[2020-03-19 11:54] jk3141 commented on #104
It shouln't go to the sidebar, but above the graph on the country page (we had it in some  deisgn by Jan allready)

[2020-03-19 11:55] Matoo125 commented on #183
https://github.com/epidemics/covid/pull/186

[2020-03-19 11:55] #183 closed

[2020-03-19 11:56] Matoo125 commented on #174
https://github.com/epidemics/covid/pull/186

[2020-03-19 11:56] #165 closed

[2020-03-19 12:03] hnykda commented on #104
I can't find it in the design, can you point to it here please: https://www.figma.com/file/4FTT6neJVlMD5CQHTTpprF/Covid-%5BWorkFile%5D?node-id=0%3A1

[2020-03-19 12:03] hnykda commented on #104
And by `country pages` - you mean the `models` one?

[2020-03-19 12:05] hnykda commented on #104
@gavento it's assigned to you, but I don't think you are going to do this, right?

[2020-03-19 12:06] Matoo125 commented on #104
what about this https://github.com/epidemics/covid/pull/160

[2020-03-19 12:06] hnykda commented on #171
We have them.

[2020-03-19 12:06] #171 closed

[2020-03-19 12:07] hnykda commented on #171
https://github.com/epidemics/covid#deployment

[2020-03-19 12:08] hnykda commented on #104
I think it's related, but I am not sure. Hence my clarifying questions above. Also #180 seems relevant.

[2020-03-19 12:12] gavento commented on #104
I am working on the data for this (with Sualeh Asif), but only on the data part. I do not own the web part. Sorry about any confusion here, I am taking on #180 @hnykda

[2020-03-19 12:16] jk3141 opened #187 "Quickfix: stop displyaing the countermeasures sidebar"
Stop displaying the Countermeasures sidebar, and reduce the page width to be in line with the header

Current implementation of the sidebar has multiple issues
- the dataset is incomplete
- the design of the sidebar is not really in line with the rest of the website - should be displayed bellow the predcitions
- better way how to display it would be to basically display the "labels" from notion an

[2020-03-19 12:17] jk3141 commented on #187
also the sidebar does not refresh when changing the country

[2020-03-19 12:42] hnykda commented on #187
It does for me as expected (when clicking on different countries, I get different results). I suspect some adblocker or extension on your side.

[2020-03-19 12:48] hnykda commented on #187
@jk3141 like this?
![image](https://user-images.githubusercontent.com/2741256/77069211-45a51f80-69e8-11ea-8492-14e2ac366893.png)

Also, where should we display info about the model if we want to have countermeasures below (it would be _really_ long page if we just stuck it under)?

[2020-03-19 13:00] hnykda opened #191 "Display countermeasures (below?) model"
Next steps of https://github.com/epidemics/covid/issues/187.

* the design of the sidebar is not really in line with the rest of the website - should be displayed bellow the predcitions
* better way how to display it would be to basically display the "labels" from notion and have the text descriptions only as a hover box

[2020-03-19 13:00] hnykda commented on #187
Related discussion: https://epidemicforecasting.slack.com/archives/CV0GGP151/p1584621683296700?thread_ts=1584611114.274300&cid=CV0GGP151.

Followup #191

Solved by #190

[2020-03-19 13:00] #187 closed

[2020-03-19 13:07] hnykda commented on #191
Will probably clash with #106 (@Bachibouzouk I think you can "temporarily" test it below the model or even keep it as is)

[2020-03-19 13:54] jk3141 opened #192 "Display peak and aggregate epidemic sizes on model pages"
At country pages, derive size of the peak for each trajectory - likely makes sense to take all trajectories, find peaks, and display as range

(At the peak of the epidemic, under this scenario, there will be 10M-30M active infections, requiring 1.1M to 3M hospital beds and 500k-1M ICU units.
 Overall there will be 200-800M infections, which can lead do 2-15M deaths.)

[2020-03-19 15:49] lagerros commented on #125
Yes, it should just be a horizontal line.

Zoom not currently in the pipeline; feel free to make an issue.

[2020-03-19 16:23] wolverdude commented on #183
See discussion on #146 for how the axis got labeled that way.

[2020-03-19 17:19] hnykda commented on #104
Issue updated.

[2020-03-19 17:24] hnykda commented on #191
Wait with this one please.

[2020-03-19 17:26] hnykda commented on #166
@lagerros Do we still wanted it given the sidebar is gone for now?

[2020-03-19 17:28] hnykda commented on #144
Replaced by #104

[2020-03-19 17:29] hnykda commented on #106
FYI, I think that even if the sidebar is gone for now, the functionality is still wanted (i.e. the integration with notion)

[2020-03-19 17:42] lagerros opened #193 "Temporal visualisation of containment measures"
Blocked by #251

We want to add countermeasures to the historical graph now in a similar manner:
![image](https://user-images.githubusercontent.com/2741256/77472404-278a5580-6e14-11ea-8eba-cff0af202417.png)

We'll want to combine some nowcasting + official historical data to add a _second_ graph to the "model" page, which shows the timeline in a particular country up to that point.

On this timeli

[2020-03-19 18:41] Bachibouzouk commented on #156
What I don't understand is that if I copy the link tag from https://cdnjs.com/libraries/font-awesome, it is exactly the same as we have ...

[2020-03-19 18:46] jk3141 opened #195 "New case map view"
Risk= active cases / population
Shading in the country's shape with risk, and giving a scale
Probably rescale it so that the place in the world with the highest ratio of infected people to population is dark red, and then down to yellow and green for safer places
The shade is risk.

(see https://github.com/epidemics/covid/issues/195#issuecomment-602057038)

[2020-03-19 19:07] Bachibouzouk commented on #191
Just need to add
[code]
the last paragraph of the central column

[2020-03-19 19:09] #106 closed

[2020-03-19 19:23] wolverdude commented on #104
I just got this working, but I need to break for lunch. I pushed it to [this branch](https://github.com/epidemics/covid/tree/wolverdude/current-estimates), and it looks like this right now:

<img width="473" alt="Screen Shot 2020-03-19 at 12 20 10 PM" src="https://user-images.githubusercontent.com/4276302/77106277-0cff4900-69dc-11ea-9233-bc93a982cd76.png">

Obviously, it could use some styling wor

[2020-03-19 19:57] hnykda commented on #104
It looks good to me :+1:

[2020-03-19 19:58] hnykda commented on #173
Closed via #182

[2020-03-19 19:58] #173 closed

[2020-03-19 20:05] hnykda commented on #156
Me neither, maybe @wolverdude or @jeromezng knows what's going on?

[2020-03-19 21:19] Bachibouzouk commented on #156
There was the link twice, once with a bad integrity...

[2020-03-19 21:21] #156 closed

[2020-03-19 21:28] wolverdude commented on #166
Even with the sidebar gone, the graph is still too tall for some screens.

[2020-03-19 21:32] wolverdude commented on #118
What's the status on this? Is it being handled on the data end or the d3 end?

[2020-03-19 21:37] wolverdude commented on #180
FYI: The new frontend PR for this is #197.

[2020-03-19 21:49] #167 closed

[2020-03-19 22:15] jk3141 commented on #104
* as we don't have nowcasting yet, it should display the date for which the estimates are relevant
* displaying uncertainty estimates would be cool, but not if it is difficult to get from foretold

[2020-03-19 22:17] #144 closed

[2020-03-19 22:53] Mati-Roy opened #199 "fixing event page merge problems"

[2020-03-19 22:56] lagerros commented on #174
According to @jk3141 this is not what we're displaying. Rather we're displaying "transitions" in gleam, which correspond to the amount of people who get infected on a day (moving from susceptible to infected compartments)

[2020-03-19 23:08] wolverdude commented on #104
@jk3141

I've updated the PR to account for this.

There's only the one `FT_Infected` number in the data. That said, there's also a `JH_Infected`, and I'm not sure what it means.

[2020-03-19 23:20] jk3141 opened #200 "Temporarily remove sidebar from staging"
Sidebar is unlikely to return sooner than in 1-2 weeks

[2020-03-19 23:41] wolverdude commented on #104
Ah, I see the live data has `FT_Infected_q05` and `FT_Infected_q95`. Yes, I can add in CI.

[2020-03-19 23:42] wolverdude commented on #104
Still waiting on @hnykda or @gavento to upload the live data since neither @lagerros nor I have the privileges.

[2020-03-19 23:44] wolverdude commented on #104
Here's the data, in case someone else has the privileges to upload it. The URLs should look like this when done:

`https://storage.googleapis.com/static-covid/static/data-{{CHANNEL}}-estimates-v1.json`

* https://epidemicforecasting.slack.com/files/UV6G09Z39/F010DBTEG4Q/data-main-estimates.json
* https://epidemicforecasting.slack.com/files/UV6G09Z39/F010F7U2FP1/data-staging-estimates.json

[2020-03-20 00:28] #104 closed

[2020-03-20 03:53] wolverdude commented on #180
This was resolved for #197.

[2020-03-20 03:53] #180 closed

[2020-03-20 04:06] Mati-Roy opened #203 "Event: add recommendation result"

[2020-03-20 04:29] Mati-Roy opened #204 "Event: pre-select mitigation strength on result page"
On the request page, the user selects a response strength. This should be selected by default on the result page.

![image](https://user-images.githubusercontent.com/5873950/77136923-ed027080-6a41-11ea-9fd0-049b2f612e8b.png)

[2020-03-20 04:49] Mati-Roy opened #205 "Event: add confirmation when sending whether the form change the user's mind"
![image](https://user-images.githubusercontent.com/5873950/77137662-34d6c700-6a45-11ea-9bc7-fcda5d3d3360.png)

[2020-03-20 05:12] Mati-Roy opened #206 "Pre-select location based on user location"
Basically improving this https://github.com/epidemics/covid/blob/master/src/server/static/js/lines.js#L10 based on something like https://stackoverflow.com/questions/3489460/how-to-get-visitors-location-i-e-country-using-geolocation

[2020-03-20 05:15] Mati-Roy commented on #206
Maybe we could also pre-fill the mitigation strength field if we already know it

[2020-03-20 08:15] hnykda commented on #116
Also https://github.com/epidemics/covid#using-google-cloud-storage-for-the-web-assets

[2020-03-20 08:16] hnykda commented on #116
I'm closing this, I don't think there is a way around this for now.

[2020-03-20 08:16] #116 closed

[2020-03-20 08:16] hnykda commented on #12
https://www.notion.so/Data-specs-b0a76e480f3c4eedacf7b9384ca3aa67#82bfb22bb192478481b602b0246950b9

[2020-03-20 08:16] #12 closed

[2020-03-20 08:18] hnykda commented on #191
@jk3141 Is this true: https://github.com/epidemics/covid/pull/176#issuecomment-601350089 then? Should we just display it below? Under all that text about the model?

[2020-03-20 08:19] hnykda commented on #200
Done.

[2020-03-20 08:19] #200 closed

[2020-03-20 08:20] hnykda commented on #205
Is this something else than #169 ?

[2020-03-20 08:23] hnykda commented on #174
So should we change it to:

`New active infections per day as a percentage of population` @jk3141 ?

[2020-03-20 11:40] jk3141 opened #208 "Oxford logo"
We should have the Oxford in the footer

[2020-03-20 16:58] hnykda commented on #174
According to @gavento , it's now right. Closing this
![image](https://user-images.githubusercontent.com/2741256/77187243-72cefc00-6ad4-11ea-8731-3d236f2bcf8a.png)

cc @jk3141

[2020-03-20 17:34] wolverdude opened #209 "Lines in chart incorrectly labeled"
The legend labels are assuming the lines will be painted in a certain order, but it's just taking the order from a JSON object, which doesn't guarantee the order. Sometimes this gives results that are obviously wrong. e.g. in this chart, the dark orange & medium orange lines should swap colors.

<img width="661" alt="Screen Shot 2020-03-20 at 10 31 34 AM" src="https://user-images.githubusercontent

[2020-03-20 17:41] wolverdude opened #210 "Make legend an actual part of the chart"
Currently, the legend is a separate HTML element that doesn't resize properly with the chart. It's also in a side column that limits the real estate the chart can occupy and ends up stacking on small screens.

<img width="281" alt="Screen Shot 2020-03-20 at 10 38 39 AM" src="https://user-images.githubusercontent.com/4276302/77190715-fd910600-6a96-11ea-913c-51ce17dac6c8.png">

It seems safe to incl

[2020-03-20 19:24] lagerros commented on #208
In addition, add logos for [gleamviz](https://www.google.com/search?q=gleamviz+logo&sxsrf=ALeKk01CAmJY8U6gJUuIbyTrYN0biugCNw:1584732219399&source=lnms&tbm=isch&sa=X&ved=2ahUKEwja9oDI46noAhVLMawKHQ8GDmMQ_AUoAXoECAwQAw&biw=1527&bih=854#imgrc=EFxF-DqmmKf2pM)

And [Australian National University](https://www.google.com/search?q=australian+national+university+logo&sxsrf=ALeKk03AoNLwNSXozTcbOMbKSCdhJGKj

[2020-03-20 20:02] #209 closed

[2020-03-20 21:17] OAGr commented on #208
Foretold:
If on dark background:
https://www.foretold.io/logowhite.4cbd279a.png

Light background:
https://www.dropbox.com/s/wf39xazvu7kjued/foretold-light-logo.png?dl=0

[2020-03-20 21:18] lagerros commented on #191
Closing this since it is being replaced by #193

[2020-03-20 21:18] #191 closed

[2020-03-20 22:20] hnykda commented on #193
Thanks, it's bigger, as it needs some data wrangling too.

[2020-03-21 00:35] wolverdude opened #215 "[TRACKING] Issues with Foretold estimate distributions and consistency"
Why are some of the estimates lower than the confirmed cases? I take it `FT_Infected` is active whereas `JH_Confirmed` is cumulative?

If so, we should either make it clear that these numbers measure different things or do the math to make confirmed into "confirmed active cases"?

<img width="416" alt="Screen Shot 2020-03-20 at 5 31 31 PM" src="https://user-images.githubusercontent.com/4276302/772

[2020-03-21 00:39] lagerros commented on #215
Correct, JH is cumulative and FT is active. We could change text to "Total confirmed" and "Estimated active".

(I'll do it later unless you've already done it then.)

[2020-03-21 00:59] wolverdude commented on #215
I think it makes more sense to change the section title to *Current Active Infections* and then compute *Confirmed* as `JH_Confirmed - JH_Recovered  - JH_Deaths`.

[2020-03-21 01:00] lagerros commented on #215
Ah, that's just so much better. Go for it

[2020-03-21 01:07] wolverdude commented on #210
Fixed by #213

[2020-03-21 01:07] #210 closed

[2020-03-21 01:16] wolverdude commented on #215
Okay, that should be fixed with this PR. That said, there's still the funny business that the lower bound of the 90% CI is below, no _waaay_ below the number of actual, confirmed cases that are still ongoing. Is this because the model takes into account that many who haven't yet been reported as recovered have actually recovered already?

[2020-03-21 01:30] Mati-Roy commented on #205
I'm not sure how formspree would work there; I'm not sure

[2020-03-21 01:30] Mati-Roy commented on #169
related: https://github.com/epidemics/covid/issues/205

[2020-03-21 05:25] wolverdude commented on #125
I think there's a piece of missing information here. The model is predicting _active_ cases, but it isn't predicting cases requiring hospitalization. Presumably, these will be many fewer, and for any decisions this chart would help people make, that is the actual quantity they're concerned about.

To put the hospital line on this chart as-is would be inviting them to compare apples to oranges.

[2020-03-21 05:28] lagerros commented on #125
The amount of active cases requiring hospitalisation is an empirically measurable quantity (20% IIRC), as is the amount requiring oxygen treatment (5% IIRC) (rough guesses likely fine for reasons we discussed on call this morning). So if you have x critical care beds you can support x/5%=20x active cases.

More details on a similar guesstimate in the notion database.

[2020-03-21 06:08] lagerros commented on #125
![Screenshot_20200320-230736](https://user-images.githubusercontent.com/21347592/77220667-b723c180-6aff-11ea-9737-be4ffe905270.png)

[2020-03-21 06:09] #208 closed

[2020-03-21 09:34] hnykda commented on #195
https://plot.ly/javascript/choropleth-maps/#country-gdp-choropleth-map

[2020-03-21 11:05] jk3141 commented on #174
The numbers are certainly not a % of the population.

[2020-03-21 11:19] hnykda commented on #174
Which numbers. Are you aware of what transformations we do with the results from gleamviz?

[2020-03-21 12:00] hnykda opened #217 "put in country back text fill in"
The country is not filling in the text.

https://github.com/epidemics/covid/pull/213/files#r395986815

[2020-03-21 12:57] hnykda commented on #174
Until you give a reasoning for that, I am closing this.

[2020-03-21 12:57] #174 closed

[2020-03-21 12:58] hnykda commented on #192
Do you mean the map or the model pages (or the same)? (as the title is different from the description)

[2020-03-21 13:02] gavento commented on #174
The Y axis was wrong just ~15 mins ago, as were some labels. I fixed it in #218 @jk3141

To be clear, I confirmed the meaning was "currently infected per 1000 pops", not that the displayed scale was right.

[2020-03-21 13:04] gavento commented on #174
I think that this can be interpreted in two ways: what is the meaning (active inf. / newly inf. / etc.) and whether it is in % (which it was not). @hnykda

@jk3141, is it looking better now (have I missed something?)

[2020-03-21 13:08] gavento commented on #215
That number was supposed be in `JH_Infected` in the JSON, but it is now filled with zeros. (Was generated manually).

Thanks for fixing this!

[2020-03-21 13:13] gavento commented on #215
Hmm, that is likely an artifact of Foretold - forecasters give estimates and variance (indirectly) and this can easily have this effect with the default distributions (I am surprised we don't see some negative numbers there :grin: ). It would make sense to somewhat lower bound the estimates by JH (as all the forecasters likely do) and take it into account inside Foretold ... Not sure what a correc

[2020-03-21 14:18] hnykda opened #219 "name mitigation timeseries naturally"
Currently, the generated data are having indices of timeseries such as `"COVID seasonality 0.85, Air traffic 0.70"`, causing issues at the frontend when trying to decode what it means.

The model _needs_ to define this better, explicitly stating what each mitigation means, i.e. basically providing this mapping already (so it doesn't have to happen at frontend): https://github.com/epidemics/covid/b

[2020-03-21 14:19] hnykda opened #220 "update trace names to be taken from the keys of data"
Followup for #219.

[2020-03-21 14:27] hnykda opened #221 "Automate the web export of data with case counts and estimates"
Currently, the data are manually inputted just for a few countries: https://storage.googleapis.com/static-covid/static/data-main-estimates-v1.json.

Automate it for our countries (or a selection). See [notion case spec](https://www.notion.so/Data-specs-b0a76e480f3c4eedacf7b9384ca3aa67).

[2020-03-21 14:28] hnykda commented on #195
Active cases by foretold prediction?

[2020-03-21 14:28] hnykda commented on #221
See related #195

[2020-03-21 14:35] hnykda commented on #166
@lagerros Is this still relevant or is it good enough now?

[2020-03-21 14:40] hnykda commented on #118
@gavento Do you think it makes sense to add it to the lines data, e.g. extending the notion spec to:

[code]

That would than be enough to set as a start of `yaxis`, right @wolverdude ?

[2020-03-21 14:42] hnykda opened #222 "Setup start of yaxis"
Charting follow up for #118 (this issue is blocked by #118 ).

[2020-03-21 14:46] hnykda opened #223 "Complement data pipeline"
We need different variants of source of data, as e.g. defined in [data specs](https://www.notion.so/Data-specs-b0a76e480f3c4eedacf7b9384ca3aa67).

We have various tasks related to data-wrangling, like:
* #219
* #118
* #107
* #221

with additional bigger additions such as:
* #193

Let's finish it for _some_ selection of countries with a clear way how to extend these data

# AC
We can trigger the pi

[2020-03-21 14:57] hnykda opened #225 "add aditional countries"
Currently, we display just a few countries, but we could extend that data to more countries as we have them.

Get a list of new countries and extend our data pipeline by that.

hint: https://github.com/epidemics/epifor/blob/master/config.yaml#L53

[2020-03-21 15:00] hnykda commented on #195
Additional requirements, which can be implemented in other tasks though (depending on if they are easy or not). If it should be in other tasks, please do new cards for it and close this one. From [this](https://epidemicforecasting.slack.com/archives/CV3AQDVMM/p1584721980397700?thread_ts=1584709206.395800&cid=CV3AQDVMM):

* ideally (although very much agree this is not a priority), clicking on a sp

[2020-03-21 15:08] hnykda opened #226 "use data for hospital view in the chart"
Display the line at the model graph

blocked by Data task: #125
Epic: #223

[2020-03-21 15:28] svecon commented on #219
Not sure what exactly is meant here, as the frontend already has a "natural" label. Is this Issue about explaining what exactly WEAK/MEDIUM/STRONG mean?

[2020-03-21 16:27] hnykda commented on #219
The parameters may change and we are recomputing it quite often. There is no reason why this shouldn't be done upstream and we have already introduced three bugs with this.

[2020-03-21 16:44] hnykda commented on #219
@gavento

[2020-03-21 16:46] hnykda commented on #125
related: https://github.com/epidemics/epifor/issues/1

[2020-03-21 17:28] gavento commented on #221
**First,** we ca do it only for the countries in Foretold. This may be straightforward, including confidence intervals (the full distribution is in `FTPred`).

Use https://github.com/epidemics/epifor/blob/master/epifor/data/export.py to create the overall JSON structure, see https://www.notion.so/Data-specs-b0a76e480f3c4eedacf7b9384ca3aa67 for the spec.

**Later,** we can compute this for any regi

[2020-03-21 17:31] gavento commented on #225
The keys for countries can be found in https://github.com/epidemics/epifor/blob/master/data/regions.yaml

[2020-03-21 17:36] gavento commented on #215
Thanks for the PR, but it does not solve the issue of FT lower bound being smaller.

Could you please also fix this @wolverdude? (e.g. show our estimate lower bound to be at least the JH active number).

[2020-03-21 17:40] gavento commented on #219
The color is also specified in [the data-pipeline config](https://github.com/epidemics/epifor/blob/master/config.yaml#L39-L40), however, the JSON format currently does not have a place to put it, so a minor spec change is required.

[2020-03-21 19:06] gavento opened #227 "Add plot of the cummulative "infected" or "recovered" people (or a stacked-plot of the 4 compartments)"
To better show the progress of the epidemic, we could display the graph of
* the total (cummulative) number of people ever infected and recovered (in %)
* a stacked plot of the currently occupied compartments (Susceptible (initially almost everyone), Exposed, Infectious, Recovered, summing to 100%)

This has 2 parts:
* Export to JSON: should be relatively straightforward - we already have the comm

[2020-03-21 19:11] Bachibouzouk commented on #227
@gavento, just to make sure, you are talking about displaying simulated number, not the tallied ones, right?

[2020-03-21 19:12] gavento opened #228 "Refactor infected estimations from Foretold and Region code"
Helper methods for estimating infected pops in subregions is currenty scattered in the classes `FTData` (e.g. [here](https://github.com/epidemics/epifor/blob/master/epifor/data/foretold.py#L111)) and `Regions` (e.g. [here](https://github.com/epidemics/epifor/blob/master/epifor/regions.py#L200)).

It would be better to factorize the entire estimation algorithm to their own file and class. (It would

[2020-03-21 19:16] Bachibouzouk commented on #192
As the number stored in the json file are number of people infected per 1000 people, we would need to use population numbers.

The aggregate is simply the integral of the curves right?

[2020-03-21 19:20] gavento opened #229 "Improve and refactor the pipeline scripts"
The data pipeiine scripts (estimate, parameterize, process_h5s) usually consist of several parts that are only defined in the scripts and depend on CLI argument structures etc.

The individual parts (estimation, loading, writing, ..) should be part of the library. This will allow cleaner development of a unifying script (`run_pipeline.py` currently calls `estimate` and `parameterize`, and incorpor

[2020-03-21 19:20] gavento commented on #228
@jez4 @hnykda

[2020-03-21 19:25] gavento opened #230 "Design and implement per-coutry/area data files"
If we add more countries or more graph data, the ~1M data files will get even larger.

It would make sense to add per-country/area data files that get loaded one by one.
Needs:
* Design - how do we determine the full country list? File naming / directories etc. (JSON structure can stay +- the same. Note we also have Cities, States etc.)
* Output and upload (relatively simple, upload needs to be st

[2020-03-21 19:28] gavento opened #231 "Make general compartment settings in pipelne config work"
Currently respects only `Exposed`.
Minor improvement. Likely depends on / would be easily done after #229

[2020-03-21 19:29] gavento commented on #225
May require #230 if we add many new countries (for latency / data volume).

[2020-03-21 19:33] gavento commented on #222
@hnykda I am confused - why do we need this at the frontend? I would say the Y axis should always start at 0. Rationale: especially if it is the case that the # of infected never goes below e.g. 1 per 1000, we want people to see this in the graph too.

[2020-03-21 19:35] hnykda commented on #222
The error is therefor more likely on my side - I thought that gleamviz data are not "offsetted", based on https://github.com/epidemics/covid/issues/118#issue-582714474 . If it's fixed at the backend, than all good and please close thisone

[2020-03-21 19:42] gavento opened #232 "Add a way to pass data from first pipeline phase to second"
(Phase 1 - pre Gleam, Phase 2 - post Gleam)

Now the data only passes between the phases by 1) geleam definition+outputs and 1) the run config. We could additionally use:

* The initial number of infected in every country (for offsetting the infected count #118, and possibly for unified per-country JSON output of estimates+graphs #230)
* IDs of the GLEAM simulations (to robustly retrieve them even

[2020-03-21 19:42] gavento commented on #222
Gleamviz data is not offsetted, but the pipeline offsets them. (#232 could improve it but the heuristic is likely good enough & roubust for now.)

[2020-03-21 19:42] #222 closed

[2020-03-21 19:43] gavento commented on #118
* It may be better to have it in country estimates JSON/section (e.g. it should already be there - the initial number of infected is the same as the the Foretold estimate)
* Te graph is already getting the numbers adjusted for the initial infected population.
  * This is currently a bit of a heuristics, even though it works. The actual numbers are not passed through GLEAM for now. (Proposed in #23

[2020-03-21 19:46] gavento commented on #118
I mean to have it in this data section (it should be `FT_Infected`):
[code]

[2020-03-21 19:47] gavento commented on #118
Would be resolved easily with #232

[2020-03-21 19:53] gavento opened #233 "Improve loading Jonh Hopkins (CSSE) data for dates"
Only the last day is currently loaded from the CSSE data. We should
* Load all days, properly loading the dates (US format?). Required for series export in #221
* Select the day closest to `start_date` from the pipeline config (if we simulate from a past point, e.g. to verify the models).

**Note:** We need to preserve the nmbers to be monotone non-decreasing. Some of the last numbers are sometime

[2020-03-21 20:06] OAGr commented on #215
I'm working on a fix that should be set up in the next 2-8 days. How urgent is this now?

[2020-03-21 20:18] gavento opened #234 "Add line color to the data spec and to the data"
Extension / followup to #219 - the line colors are hard code in JS, but are also defined in the [pipeline config](https://github.com/epidemics/epifor/blob/b633ec0773ffe6b344ddd71fe5a1a7025f4a7f0b/config.yaml#L20) (more flexible and robust, easier to change).

This requires spec change, update to JSON generation (proposed in #219) and update to JS (this spec change is likely breaking).

[2020-03-21 20:23] gavento opened #235 "Import geo data from GLEAMViz to our geo db"
The GleamViz client does contain all the populations and ISO codes and other data on all its "basins"/cities in `GLEAMviz/resources/world.json`. We should use this to
* Make the population estimates match what Gleam thinks, improve most missing ones
* Get better unique IDs (ISO codes) and possibly name aliases

@hnykda @jez4

[2020-03-21 20:26] gavento commented on #215
@OAGr I don't think it is very urgent if you think the obvious quickfix of cutting the distribution off at the John Hopkins currently confirmed active does not distort it much for
1. display (likely not)
2. regression / nowcasting
  * I would still tend to use the original mean when just that is needed - as this is something people usually input. Woud you agree?

[2020-03-21 20:38] gavento commented on #235
Note: This can be done independently from everything else just by one-time importing the data into our `data/regions.yaml` (keep the script in the repo somewhere but does not have to integrate otherwise).

Note: There may be a library to read geojson (the format of `world.json`?)

Be extra careful about ambiguous names when matching the regions with our data file.

[2020-03-21 20:39] OAGr commented on #215
Hm... the mean isn't actually that correct in these cases. In the cases where the numbers look really weird, it's because the range was higher than the system could handle (it could only handle maybe 1-2 orders of magnitude). I'll think about this, will try do something quick on Monday/Tuesday.

[2020-03-21 20:40] gavento commented on #235
Note: Still not sure where GLEAM stores its internal IDs - they are not in `world.json` (would be helpful to match them properly).

[2020-03-21 20:40] OAGr commented on #215
I've been working on a slightly more advanced Kernel Density Estimation system here:
https://www.highlyspeculativeestimates.com/dist-builder. If we could spend 1-4min per estimate-that-needs-fixing we could fix them manually using that, basically, though this of course would take some time.

[2020-03-21 20:49] gavento commented on #227
Yes, the simulated ones.

(I would hope the tallied numbers to never be above few percent ...)

[2020-03-21 21:02] gavento commented on #215
I would rather wait for a systematic solution, unless you'd think that the error is more than ~50%.

Which means do you mean? I compute them from the distribution returned by GraphQL (does not give the mean) and it roughly matched the mean shown in Foretold (although with even ~20% difference).

[2020-03-21 22:43] jk3141 commented on #193
![IMG_20200321_234141](https://user-images.githubusercontent.com/38469878/77238073-5b237080-6bc5-11ea-9272-d97b205c04d6.jpg) possible visualisation of most important meaaures

[2020-03-22 08:54] #217 closed

[2020-03-22 08:59] svecon commented on #195
https://google.org/crisisresponse/covid19-map ?

[2020-03-22 13:06] OAGr commented on #215
I'd expect that many of the distributions returned from GraphQL would have deviations; of which the mean is wrong by over 50%.

[2020-03-22 13:07] OAGr commented on #215
This one for example:
<img width="572" alt="image" src="https://user-images.githubusercontent.com/377065/77250183-0e2fb080-6c3e-11ea-9bb4-bc8fc3921042.png">

[2020-03-22 13:07] OAGr commented on #215
Meanwhile, I'd expect this one to be mostly fine:
<img width="86" alt="image" src="https://user-images.githubusercontent.com/377065/77250195-2273ad80-6c3e-11ea-93d5-231b51f3a3f7.png">

[2020-03-22 13:08] OAGr commented on #215
Would it help much if the API could give you the means directly? I realize this is less important.

[2020-03-22 16:48] hnykda commented on #225
So if I understand correctly, to extend to other countries, we should make somewhat sure that there have been enough foretold predictions for that region, right (https://www.foretold.io/c/1dd5b83a-075c-4c9f-b896-3172ec899f26?state=open)

[2020-03-22 19:24] lagerros opened #238 "Make latest gleamviz XML files available on site, and link to them from landing page"
We want it to be possible for users to replicate/extend our analyses.

[2020-03-22 19:31] lagerros opened #239 "Display fewer significant digits in plot numbers, and remove "μ" notation"
Based on a user interview, having too many communicates a false sense of certainty. At the moment we show 6(!)

Moreover, plotly sometimes switches to μ notation; which is probably nice for a certain audience, but I imagine it will also confused others.

![image](https://user-images.githubusercontent.com/21347592/77258526-619f0000-6c38-11ea-8e82-7ee2a66d5d05.png)

However, I'm not sure what the ri

[2020-03-22 19:59] lagerros opened #240 "Extend the graph further in time"
Based on [user feedback](https://www.notion.so/William-Saunders-93a9d12369064d4b83c50eb96cc87b54) -- "cutting it off at end of year can give a false sense of security, e.g. not visualising potential of secondary outbreaks next year".

Previously the graph took in more data, but for some reason this changed with the introduction of the new data format in #161

People working on data/data-formats:
@

[2020-03-22 20:10] jk3141 commented on #192
yeah, it's the integral, but actually will be directly in some file as the cumulative bumber. and yes will need either multiplying by population or displying as percentage

[2020-03-22 21:26] lagerros commented on #225
@jk3141 how granular do we want to go here?

Gleamviz would obviously allow us to display all the way down to individual cities in most countries. Here's how deep it goes for Czech Republic:
![image](https://user-images.githubusercontent.com/21347592/77261026-af236900-6c48-11ea-84aa-f68816e49c12.png)

[2020-03-23 00:20] gavento commented on #240
* Anna is running the simulations (not on github, please ask her on Slac). It should be just a simulation setting in Gleam.
* The further in future, the less certain, so it may be a strategic decision. @jk3141 what do you say?

[2020-03-23 17:18] wolverdude commented on #125
@hnykda we can just not show the line when the data is null.

Perhaps we should also put some sort of modifier on the line since countries are expanding their critical care capacity?

[2020-03-23 18:44] Nora-Ammann opened #241 "make COVID mitigation dataset meta-info publicly access"
- On the website: "This is work in progress: check the completion state of various countries [here](https://www.notion.so/dbf0f4ffc03f4417a16d65a6d08eea69?v=845ef4baafd44e72b9c483381b90caae) (we hope to have comprehensive coverage on Sun).

- However, if I click on "here", I get: "You do not have access to Epidemic forecasting. Please contact an admin to add you as a member."Is this on purpose?

[2020-03-23 18:47] Nora-Ammann opened #242 "make it easier to download COVID mitigation dateset"
- current explanation: > To download the data as a .csv file; make a copy of this page, and then click "Export".

- This took me a while to understand. I suggest rephrasing to: To download the data as a .csv file; make a copy of this page (click "Duplicate" in the top right corner), and then click "Export".

[2020-03-23 18:49] Nora-Ammann opened #243 "add a page to the website for the containment measure data set (only) (static)"

[2020-03-23 19:30] Nora-Ammann opened #244 "click[on a cricle]+drag on the map leads me to the model page although I want to stay on the map"
when I move my view of the map around via click+drag and I click on a circle, it sends me to the model page althoguh I just want to move my view of the map

[2020-03-23 21:01] jk3141 commented on #195
it would be good to switch to
- logarithmic map to the shading (so eg. 0.001-0.01 and 0.01-0.1 are same distance

[2020-03-23 22:11] lagerros opened #245 "Make legend text more visible"
![image](https://user-images.githubusercontent.com/21347592/77368027-a0a48280-6d18-11ea-8fd2-a065da52407a.png)

[2020-03-23 23:28] lagerros opened #246 "Improve Facebook sharing view of page"
Currently looks like:

![image](https://user-images.githubusercontent.com/21347592/77371832-70151680-6d21-11ea-82ca-9aa6706d96ed.png)

Instead we want:

* A screenshot showing our main model and the Oxford logo. I made some to the right dimensions, available in Notion [here](https://www.notion.so/Site-thumbnail-60cbc9e23fe945bfae936083b0550f73)
* The title should not be "model", but instead "Mediu

[2020-03-24 02:16] lagerros commented on #243
Closing as this is solved with #247

[2020-03-24 02:16] #243 closed

[2020-03-24 02:17] lagerros commented on #241
Thanks, this has been fixed now

[2020-03-24 02:17] #241 closed

[2020-03-24 02:19] lagerros commented on #242
Fixed (for future notion edits like these, feel free to just go ahead and make them without submitting an issue)

[2020-03-24 02:19] #242 closed

[2020-03-24 02:27] lagerros commented on #192
This is a duplicate of #227

[2020-03-24 02:29] lagerros commented on #227
I think it would be too intense to add a visualisation of this to the one plot currently on site (since there will be other things, #193 and #125 ), so think we should just focus on displaying the summary statistics as stated in #192

Eventually we'll also want to show the total death count.

[2020-03-24 05:22] gavento commented on #234
Resolved by https://github.com/epidemics/epifor/pull/10

[2020-03-24 05:24] gavento commented on #232
Resolved by Batch in https://github.com/epidemics/epifor/pull/10

[2020-03-24 05:24] gavento commented on #231
Resolved by https://github.com/epidemics/epifor/pull/10

[2020-03-24 05:24] gavento commented on #229
Resolved by https://github.com/epidemics/epifor/pull/10

[2020-03-24 05:25] gavento commented on #225
Resolved by https://github.com/epidemics/epifor/pull/10
* Country graphs are loaded independently
* Default setting is ~90 countries

[2020-03-24 05:25] gavento commented on #221
Resolved by https://github.com/epidemics/epifor/pull/10 (the quality still varies, though, but is fine with manual overrides in config)

[2020-03-24 05:26] gavento commented on #219
Resolved by https://github.com/epidemics/epifor/pull/10 (by saving Plotly traces) and #248 (in JS)

[2020-03-24 05:27] gavento commented on #118
Partially resolved by https://github.com/epidemics/epifor/pull/10 - now just needs normalization by population (to match units)

[2020-03-24 10:40] hnykda commented on #245
https://github.com/epidemics/covid/commit/b28917cb9c576bd8ef84f2da0b7909f994c899cf

[2020-03-24 10:40] #245 closed

[2020-03-24 10:42] hnykda commented on #238
@gavento could you please add it to the pipeline script upload phase and link it here: https://github.com/epidemics/covid/blob/master/src/server/templates/about.html#L81 ?

[2020-03-24 12:10] Nora-Ammann opened #249 "remove Egypte from the website for now (until estimates are fixed)"

[2020-03-24 14:54] #249 closed

[2020-03-24 15:05] gavento commented on #233
Todo: direct loading from github. E.g. from Dan:
[code]

[2020-03-24 15:07] gavento commented on #233
Todo: check and update for the new file naming/format CSSE announced just today.

See https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

[2020-03-24 17:47] jez4 commented on #233
Selection of the nearest day is done. Date is taken from config.

[2020-03-24 17:55] gavento commented on #238
Done in https://github.com/epidemics/epifor/pull/10, waits for the merge of #248
Closed bu #248

[2020-03-24 17:56] #234 closed

[2020-03-24 17:56] #232 closed

[2020-03-24 17:56] #231 closed

[2020-03-24 17:56] #229 closed

[2020-03-24 17:57] #225 closed

[2020-03-24 17:57] #221 closed

[2020-03-24 17:57] #219 closed

[2020-03-24 18:43] #238 closed

[2020-03-24 18:47] gavento commented on #230
Closed by https://github.com/epidemics/epifor/pull/10 and #248

[2020-03-24 18:47] #230 closed

[2020-03-24 18:48] gavento commented on #227
i will close this for now as it is unwanted and there is no action to take.

[2020-03-24 18:48] #227 closed

[2020-03-24 18:48] gavento commented on #220
Closed by https://github.com/epidemics/epifor/pull/10 and #248

[2020-03-24 18:48] #220 closed

[2020-03-24 18:50] gavento commented on #107
In large part resolved by the neat pipeline runner in https://github.com/epidemics/epifor/pull/10
It seems we won't get API from GLEAM (Jacob tried)

[2020-03-24 18:50] #107 closed

[2020-03-24 18:51] gavento commented on #80
I think it generally is. If there is some place where it is not, reopen with details, please! @Bachibouzouk

[2020-03-24 18:51] #80 closed

[2020-03-24 18:52] gavento commented on #41
Note: Main data files (JSON) are already served from GCS storage, which scales extremely well. We can upload assets too, I guess?

[2020-03-24 18:53] gavento commented on #29
I think this got resolved over time, and there is a major update to the pipeline in https://github.com/epidemics/epifor/pull/10. New data are processed ~every day. Closing.

[2020-03-24 18:53] #29 closed

[2020-03-24 19:27] hnykda commented on #199
Moving back to Todo as it's not being worked on on any PR.

[2020-03-24 19:30] hnykda commented on #125
@gavento in the new pipeline you made, this is not present, right? (I made it part of https://github.com/epidemics/epifor/pull/8, but that's not part of the pipe).

[2020-03-24 19:35] hnykda commented on #193
By @lagerros :

Attached is a simple example (though there are some design changes I’d make to the real one, e.g. having different colored labels corresponding to different type of measure (as in Notion), and having them below instead of on top of graph, and showing how far across time they extend)
(Then, later, we might want to add other visualisations for the database, but that’s a separate thin

[2020-03-24 19:37] hnykda commented on #193
@gavento We technically have the data as part of the `estimates` data part. We could visualize it as separate traces on the charts with containment measures fetched from a different data source.

[2020-03-24 19:40] hnykda commented on #49
I am going to close this if you don't mind, as we are mostly fetching data on frontend and not backend anymore.

[2020-03-24 19:40] #49 closed

[2020-03-24 19:41] hnykda commented on #166
@lagerros is this still wanted?

[2020-03-24 20:06] hnykda opened #251 "Add historical data chart"
This is a followup for #233 (so it's blocked by it) to actually visualize the data as a second chart (timeseries).

We'll want to add a _second_ graph (to the "index" page? or where?), which shows the timeline in a particular country up to that point.

[2020-03-24 20:10] hnykda commented on #233
Cool. So do we have the historical data for the Deaths/Confirmed in the output JSONs?

[2020-03-24 20:15] hnykda commented on #244
Closing this via #237 which should get deployed now and doesn't have this issue..

[2020-03-24 20:15] #244 closed

[2020-03-24 20:16] hnykda commented on #223
I don't see a need for it now anymore.

[2020-03-24 20:16] #223 closed

[2020-03-24 20:19] hnykda commented on #192
#277 got closed, so do we want to close this one too?

[2020-03-24 20:22] jez4 commented on #233
Ok. Output JSON is not having this, yet. Thx for direction :)

[2020-03-24 20:29] hnykda commented on #233
Yeah, I think we currently have only the latest day in the output JSON, e.g. in https://storage.googleapis.com/static-covid/static/data-ttest5-v3.json:
![image](https://user-images.githubusercontent.com/2741256/77473793-412c9c80-6e16-11ea-8d6c-7edefbf804cf.png)

But It's pretty weird format to put it there just for each day as a map/dict :thinking: . A regular "timeseries" storage (in lists) would

[2020-03-24 20:36] lagerros commented on #192
No, this should stay open! It's quite a high priority.

The thing that got closed was making it into **graphs** of stacked bars. Just displaying the total numbers is still [a highly requested feature](https://www.notion.so/Looking-at-e-g-the-US-model-it-s-hard-to-tell-if-weak-mitigation-reduces-total-cases-vs-just-shi-cc1a6b174fd84dfab7232cec28ef2d54).

[2020-03-24 20:40] lagerros commented on #251
Two suggestions:
* A single, very wide graph, which includes both the extrapolation but starts from confirmed cases (this will break on mobile probably, and we're making a choice about being primarily desktop oriented)
* Multiple columns (I still think this will probably be necessary as we keep adding on more information)

Worst case is probably to have a new graph underneath the current, which cl

[2020-03-24 20:45] jez4 commented on #233
I will have to create definition.xml in the format which gleamviz will understand, right? Is there any standard, which specifies how to store the dates in it?

[2020-03-24 20:55] hnykda commented on #233
I think these data will not have to go through gleamviz (it's just exporting them from CSSE and somehow getting them in the JSON), so I don't think you have to. But it needs the changes in the pipeline which Tomas may have some thoughts on.

[2020-03-24 21:06] #195 closed

[2020-03-24 21:09] Nora-Ammann opened #252 "map: clarify that 'no forecasts' doesn't necessarily mean "no active cases""

[2020-03-24 21:15] hnykda opened #253 "Add ISO codes to the estimate output data"
Currently, ISO codes are used to match estimates to the geomap. Putting ISO codes in our data permanently would solve this, but it has a downside of having problem mapping cities to it (because they don't have a code). We could use any other key (in theory) from the [geojson](https://storage.googleapis.com/static-covid/static/data/casemap-geo.json). Nevertheless, having ISO codes is probably a goo

[2020-03-24 21:26] Nora-Ammann commented on #252
when hovering over countries without forecasts (black) display "no forecasts" to clarify that black doesn't mean "no active cases"; + add a sentence below the graph indicating this explicitely e.g. "Due to currently limited forecasting resources, we cannot make forecasts on every country. It is important to note that 'no forecasts' doesn't necessarily mean there are no active cases in this country

[2020-03-24 21:27] hnykda opened #254 "add channel arg flexibility in the data fetching for casemap"
Add the same functionality with `channel` as is in the line graph [here](https://github.com/epidemics/covid/blob/master/src/server/static/js/lines.js#L11)

[2020-03-24 21:44] #35 closed

[2020-03-24 22:21] jk3141 opened #256 "date in future"
case numbers are from 23rd , not 25ths

[2020-03-24 23:57] gavento commented on #192
@jk3141

How do we compute deaths? Plain percentage (or percentage range) seems too simplistic, but would work.

How about a model with
* One percentage of all
* Additional percentage of people needing but not getting ICU
  * This further depends on how long they failed to get it / how long theu use it? Any simpler but still correct model with less assumptions?
*

[2020-03-25 00:09] gavento opened #257 "[Low priority] Redesign region storage to allow more attributes etc."
Discussion issue about the data format for our dataset. Feel free to collect ideas. However, I would focus on the goals, and I assign this a low priority. (Although I would love to spend days discussing designs, formats and their merits ;-) )

Note that the region Yaml has some advantages:
* Can be inspected and fixed by hand (I did this so many times, including the hierarchy itself)
* Can be mean

[2020-03-25 00:11] gavento opened #258 "Add hospital & ICU beds to our region data set"
Import hospital beds and ICU numbers to the relevant tags in `data/regions.yaml`.
(there is even a snippet doing something similar)

Note this is not about the format itself (see #259)
Also note some country/state/other name ambiguities (e.g. Georgia)

@hnykda @jez4 Do you already have something quick to do it?

@lagerros Do we have the data?

[2020-03-25 00:12] lagerros commented on #215
If the API could provide summary statistics directly (mean, 90% CI) that would be *very* useful to us!

[2020-03-25 00:15] gavento commented on #125
@hnykda The main blocker is now the data itself - can someone data-savvy import it into the regions.yaml database, please?

Drawing plotly trace with single horizontal line is almost trivial.
We can also pass it in estimates or whereever (would not overthnink this, we may refactor into something later when we know more about our usage etc.)

[2020-03-25 00:16] lagerros commented on #258
Data: https://www.notion.so/9db3df0271214655b13c17bb7565c40c?v=5e75cc3aed784a6baf42826304e7a923

Though I think @wolverdude is working on the frontend for this, and already has access to the data, and might be about to push something soon?

So I'm not sure if there's been some confusion, please check this slack thread: https://epidemicforecasting.slack.com/archives/CV93A58G7/p1584957939023200

[2020-03-25 00:17] gavento commented on #226
Adding a plotly trace with single horizontal line into the current plot is almost trivial.
We can also pass it in estimates or whereever (would not overthnink this, we may refactor into something later when we know more about our usage etc.)

[2020-03-25 00:19] gavento commented on #253
@hnykda Sorry, I won't get to it (basically, I need to get some sleep, other things took longer).

I understood that you already have an ipy NB with it - could you, pretty please, just add it to the region.yaml file?

[2020-03-25 00:21] gavento commented on #258
@wolverdude I think the graph part is trivial in plotly pipleine side once we have the data (just another trace in the JSONs; to prevent duplication). The text information in text must be JS, I guess ..

[2020-03-25 00:23] gavento commented on #125
Just noticed that #258 is a duplicate.

[2020-03-25 00:28] lagerros commented on #192
That model seems good to me, as long as we add some error bars.

[2020-03-25 00:48] wolverdude commented on #226
I was confused and thought that #125 was this task. I had some data @hnykda had put together before, so I created a PR (#259) that loads this and displays it on the chart when available. It should be easy to switch the data source when it becomes available.

[2020-03-25 00:57] gavento commented on #226
Nice; and I think whatever works ... :+1:

[2020-03-25 01:00] gavento commented on #215
@lagerros I think sorting out the wide distributions and aggregation is higher priority (and required for this anyway?)
We have the full distribution loaded [here](https://github.com/epidemics/epifor/blob/b3f19a55fb2f4c27a13ac367477fb4988fb02b8e/epifor/data/foretold.py#L36), means are computed, quantiles with numpy are straightforward once the data is there.

Definitely in favor if it would be for

[2020-03-25 01:01] gavento commented on #238
Updated About links and text

[2020-03-25 01:03] gavento commented on #118
(Just to be clear: I think that anyone can do it when they have time, we have reliable populations for all countries and most cities except the small / strange ones.)

[2020-03-25 01:39] #226 closed

[2020-03-25 02:14] lagerros opened #260 "Fix appearance of multiple critical beds lines"
Each time I click on Australia, then click on another country, then return to Australia, there's a new line appearing in the legend
![image](https://user-images.githubusercontent.com/21347592/77494640-7bd90980-6e03-11ea-8a71-e01d76e5ed42.png)
![image](https://user-images.githubusercontent.com/21347592/77494688-96ab7e00-6e03-11ea-805d-50b2bd46c54d.png)
![image](https://user-images.githubusercontent

[2020-03-25 02:16] lagerros opened #261 "Some graphs don't have hospital line despite being in the database"
e.g. Sweden is in the Notion database but doesn't have a line:
![image](https://user-images.githubusercontent.com/21347592/77494776-df633700-6e03-11ea-98ee-0571d2bab189.png)

#259

[2020-03-25 08:00] janpipek commented on #49
Correct!

[2020-03-25 08:30] jez4 commented on #233
I reached the fce propagate_down. I have historical data for 'Active'. Do you have any advice how to continue?

[2020-03-25 08:35] hnykda commented on #125
I am closing this, done via #259

[2020-03-25 08:35] #125 closed

[2020-03-25 08:37] hnykda commented on #256
@gavento fixed, right?

[2020-03-25 08:38] #256 closed

[2020-03-25 08:50] #260 closed

[2020-03-25 08:58] hnykda opened #263 "Add searchable country dropdown"
[Filter dropdown](https://www.w3schools.com/bootstrap/bootstrap_filters.asp) as the number of countries grows bigger, this would enhance UX

[2020-03-25 09:02] hnykda opened #264 "make critical beds data part of the pipeline generated data"
Damn, I didn't see #258 on the board (`Project` wasn't filled so acciddentaly made yet another duplicate)

[2020-03-25 09:03] hnykda commented on #125
followup #264

[2020-03-25 09:11] hnykda commented on #258
This is currently done via https://github.com/epidemics/covid/issues/226 and related cards, but it's using old, manually created data from https://github.com/epidemics/epifor/pull/8/. That's what @wolverdude used now in #259 .

So this task is about adding data properly to the pipeline. (it's mostly just a single CSV). I really just downloaded that notion dataset in CSV and appended to my data.

F

[2020-03-25 09:11] hnykda commented on #253
I have only a subset of countries, not cities for example, so I was hesitant to put it in the region file. Should I do it anyway?

[2020-03-25 09:13] hnykda commented on #233
Not really, I don't understand the code yet - are you able to dig down to find out how to add it to the final generated JSONs? Maybe @gavento has some tips.

[2020-03-25 09:18] hnykda commented on #261
IMO the reason for it was that Sweden wasn't part of the original country selection, only for which I put the data for (manually, via https://github.com/epidemics/epifor/pull/8/).

In the meantime, Tomas extended the country selection and Sweden is one of them.

Proper fix is #258

[2020-03-25 09:20] hnykda opened #265 "Add African countries"
Add reliable-enough African countries in the data (what countries we are interested the most in?).  It means:

* adding their gleamviz predictions
* trying to find ICU beds where possible
* update the case map based on forecasts where possible

[2020-03-25 13:29] hrosspet opened #266 "Fix links on `request model` site"
These two links on the `request model` part of the site are not working:

- `a global epidemic model`
- `public database`

[2020-03-25 14:28] Nora-Ammann opened #268 "Global mitigation strength: turn weak/moderate/strong into 20%/50%/80%"
I think this will importantly reduce ambiguity.

[2020-03-25 14:29] Nora-Ammann opened #269 "Global mitigation strength: don't make the 'details' optionally pop in/out but leave them out for good"
however, this section can be deleted to make it shorter

    None: Do nothing
    Weak: Decrease of effective transmission rate by 20%
    Moderate: Decrease of effective transmission rate by 50%
    Strong: Decrease of effective transmission rate by 80%

[2020-03-25 14:31] Nora-Ammann opened #270 "turn 'global mitigation strength' into 'national and global mitigation strength'"

[2020-03-25 14:48] Nora-Ammann opened #271 "add a second graph displaying 'cumulative infection numbers' below the 'active infections' graph"

[2020-03-25 17:32] lagerros commented on #215
I didn't know you were actually doing that in numpy!

@OAGr I change my mind, I was wrong, summary statistics isn't very useful. Personally would have found it somewhat useful, but agree with @gavento messages

[2020-03-25 18:06] wolverdude commented on #246
Here's what I'm using for the `description` meta tag, which will appear as the site summary in search results and shares:

I tried to include as many relevant keywords as I could for SEO purposes. Please let me know if/how I should tweak it. Also, what is this organization called? I currently have the `author` set as:

[2020-03-25 18:25] wolverdude commented on #246
I ended up dropping the `author` meta tag, since it doesn't seem to be necessary.

[2020-03-25 20:27] #246 closed

[2020-03-25 22:15] gavento commented on #233
The point here was to have something easily viewable on the web and I thought this may be easier in JS, but either is fine with me :man_shrugging:

The only use of series I thought of was for a graph, but for that I would prefer to just include more Plotly traces directly (also in the per-country file, fits there easily) rather that the raw data in series to be processed.

[2020-03-25 22:16] gavento commented on #233
@jez4 Apologies about the propagating down part - this needs a refactor for a while, and I did not expect you to need to go there. I am happy to patch it if you have changed the API (a good thing to do too, probably).

[2020-03-26 02:05] lagerros commented on #269
I'm not a fan of this, since it will make it much harder to use the site as a dashboard where you get a good overview of multiple facts/numbers. I also want the main graph to be visible as soon as the user lands on the site, which will be harder if there's more description text.

[2020-03-26 03:47] gavento commented on #235
I discovered that the file `world.json` is mostly a geojson with countries, not cities etc.

Did some more digging and discovered the data we need is stored inside the gleamviz binary. Just for the record:
[code]
Then in python: `data=zlib.decompress(dump_bytes[8:])` gets some serialization file. Some parts are e.g.:
[code]
I was not able to make any sense of the remaining data beyond UCS-16 names

[2020-03-26 03:47] gavento commented on #235
Will try to ask GLEAM team for data via Jacob. Closing for now.

[2020-03-26 03:47] #235 closed

[2020-03-26 03:47] gavento commented on #240
New online data computed for 350 days.

[2020-03-26 03:47] #240 closed

[2020-03-26 03:48] gavento commented on #254
Changed the URL to main (as I just added the ISO codes to the pipeline).

Having the URL channel param would still be nice for testing.

[2020-03-26 03:50] gavento commented on #253
I added the ISO codes to DB (except some ~10 smallest countries) and to the output. Switched the case-map to load the main file. Deployed in master now.

[2020-03-26 03:50] #253 closed

[2020-03-26 03:50] gavento commented on #265
Done.

[2020-03-26 03:50] #265 closed

[2020-03-26 03:55] gavento commented on #118
Closing, the quantity can be easily computed in JS by dividing the two. (As is already done in the case-map?)

[2020-03-26 03:55] #118 closed

[2020-03-26 04:05] gavento opened #274 "Sort the countries in the drop-down menu"
The countries are sorted by the order in the JSON file, but that is only accidentaly sorted by key. Sort explicitely in JS?

[2020-03-26 04:05] gavento commented on #263
Related: #274

[2020-03-26 04:11] #274 closed

[2020-03-26 04:38] wolverdude opened #276 "Move UI code embedded in data files to FE"
Frontend JavaScript logic in the form of Plotly configuration is currently being stored within the uploaded data sets that are being served and used on the frontend. This is extremely brittle and makes customization difficult. Probably not a high priority at the moment, but should be fixed if we get the chance to refactor `lines.js`.

Example [here](https://storage.googleapis.com/static-covid/stat

[2020-03-26 04:53] wolverdude commented on #215
Do we still want a stopgap fix on the frontend for this?

[2020-03-26 08:14] hnykda commented on #253
Thanks @gavento . As you can see in the timeline, I gave this task to @veselatereza who spend some hour trying to understand where to add it, wanted to test it, so wasted work now :confused: .

Also, the direct commits to master are making it quite hard to follow the changes...

[2020-03-26 08:28] hnykda commented on #258
Should be done in a similar way to #253

[2020-03-26 08:35] #239 closed

[2020-03-26 08:42] hnykda commented on #264
@veselatereza you may want to do this one together with #258

[2020-03-26 09:27] gavento commented on #253
@veselatereza Thanks for coming into the project! And apologies for overtaking you - I missed the status change. (We really needed it yesterday to have updated data in the map, along with more countries.)

[2020-03-26 10:28] gavento commented on #276
This was intentional and actually made it more robust, but I am open to further improvements! Some notes:

* Naming and color spec in the config files while generating the simulations is more robust and flexible than matching client-side (was brittle before) and is more flexible (adding/changing more scenarios happens in one place and does not need website redeploy, can be shown to people in non-p

[2020-03-26 10:37] gavento commented on #271
Thanks for creating the issue!
Before I try to assign this: I think the consensus 1-2 days ago was that this would be too cluttered, did this change?
CC @jk3141 @lagerros

[2020-03-26 10:41] gavento commented on #276
(Note: I would agree that having style clearly separated in frontend etc would be "cleaner" and good in a larger project, but I think the gains here are very minor. Feel free to disagree! I would be able to e.g. add some label attributes to the lines (but still would prevent adding without front end commits?))

[2020-03-26 11:01] gavento commented on #258
Just in case it helps, this is the one-time code I used for the ISOs:
[code]

[2020-03-26 12:49] mathijshenquet commented on #251
I think adding it in the same graph would be uninformative because of how tiny the current cases would look (unless you plot it in log scale, which is probably a bad default).

Another issue is that there is severe under reporting of cases so the lines of the models would not match the datapoints. You could transform the datapoint by the estimated underreporting but that kind of goes against the s

[2020-03-26 13:00] veselatereza commented on #258
thanks!

[2020-03-26 13:17] Nora-Ammann opened #278 "Map: for countries we have no estimates on (black), add a pop-up window saying "no estimates" when hovering over the country"

[2020-03-26 15:25] mathijshenquet commented on #233
Have you looked at [ECDC][1] as data source?

Pro's:
* Argument from authority: [Our world in Data][2] explicitly chose them over CSSE.
* They only post an entry if they actually have data, you can do some interpolation in between if you want
* They only have country level data and the data is much more regular. For example Chinese data goes back further (if I remember right).

Con's:
* They don't

[2020-03-26 15:39] Nora-Ammann opened #279 "model: turn the lines into error bars (?)"
I'm not sure what this would imply and how easy/difficult that is - but I think it would be pretty valuable to do in order to _communicate uncertainty_ (currently the arbitrarily precise predictions suggest more certainty than we have).

[2020-03-26 16:02] wolverdude commented on #276
The problem is that styling changes have to go out with data changes, and any random frontend dev (like me) is going to be really confused about where these lines are getting styled from. And then the solution they (read: me) are going to come up with is to [overwrite the styles on the frontend](https://github.com/epidemics/covid/blob/daf49fd9b1ec6e5533b72663f0f470df94e13218/src/server/static/js/l

[2020-03-26 17:35] gavento commented on #276
Sorry to hear that and it makes sense; agreed on conceptual level. My intuition would be to not spend more time on it now as it works, including your restyling, but I won't be against any change if you want to go ahead! (I would, however, prefer a solution that would somehow work while e.g. adding or removing new lines out of the box, for example for use in "private" channels.)

[2020-03-26 17:57] lagerros commented on #271
No it didn't change, I'd prefer to stick to a table displaying these numbers for now, as mentioned in #192

[2020-03-26 17:57] #271 closed

[2020-03-26 18:56] gavento commented on #257
Misc notes to self:

The region data we want to keep has two parts:
* Fixed data (single instance)
  * Names, ids, populations, gleam kind and id, relationships, locs, ISOa3, IANA, hosp/ICU beds, others?
  * Relationships are the only structured data, all else is a table
    * Some of the relationships would be better modeled through a DAG (middle east vs africa) but that is not clear. And this ma

[2020-03-26 20:22] #166 closed

[2020-03-26 21:46] hnykda commented on #258
Additional (newer?) data available at https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1585258897031300?thread_ts=1585234929.020700&cid=CV1F9NB5K (but hopefully shouldn't change much the pipeline)

[2020-03-26 21:55] mathijshenquet commented on #258
I have a age distribution data and expected hospitalization, critical and fatality rates for various countries. I can export them as CSV in whatever way would be most convenient (anything from Mathematica essentially).
[rates.txt](https://github.com/epidemics/covid/files/4390182/rates.txt)
[agedata.txt](https://github.com/epidemics/covid/files/4390183/agedata.txt)

[2020-03-26 22:07] mathijshenquet opened #282 "Move to a non-inverted color scheme"
I think the visual language should reflect what our target audience thinks of as 'authoritative'. I think techies can 'show off' with fancy visuals, but for policy makers this might look 'hacky'. For example: I once heard an investment banker type mention that they preferred plainly typesetted word documents over latexed pdfs for job applications.

My intuition says that a non inverted color schem

[2020-03-26 22:09] mathijshenquet opened #283 "Downloaded graphs should have (the option for a) non-inverted color scheme"
You probably want people to download the graph so that they can put it in documents. Then there should be an option, probably by default, to download with non-inverted color scheme. People are not going to print a solid black graph or figure out how to fix this.

Related to: #282

[2020-03-27 19:37] veselatereza commented on #258
@gavento we thought with Daniel to then include the resulting number b*f/c to the regions.yaml? Do you think that is ok? Or have we misunderstood what needs to be done?

[2020-03-27 20:02] gavento commented on #258
Some number should be included there, I think. Which one is up to you, I guess :)

(Haing it as external CSV is also fine, but needs syncing on names ...)

[2020-03-27 20:02] gavento commented on #258
(Apologies for not having built a better codebase for this type of work :sweat: )

[2020-03-27 20:45] mathijshenquet commented on #263
I could do this.

[2020-03-27 23:35] gavento opened #285 "Make sure data uploaded to different channel do not share plot data"
Currently, JSON data uploaded to different channel have channel-specific main JSON file, but the plot URLs are derived from GLEAMviz batch, so may overlap, and inadvertently change main channel too.

Make the upload of plots also channel-dependent.

[2020-03-28 02:14] gavento opened #286 "UX: Remember when user closes the "We offer consuting" bar"
The yellow bar offering consulting seems rather intrusive into the design (by design, I guess), but if closed, reappears with every reload, which is sort of annoying.
It would be possible to somehow remember that it was closed and not show it again (at least for a while). At least my experience would improve ;)
A design question for @jk3141 @lagerros

One technical solution would be to use somethi

[2020-03-28 07:35] jez4 commented on #233
@hnykda @gavento  I have managed to get the historical data into the output json. Right now I have to solve 'hong kong city' which is not accumulated.

[2020-03-28 09:32] hnykda commented on #192
Hey. I finally moved into this, here are my thoughts:

## "Algorithm"

## Finding peaks if multiple peaks
The problem of second wave is making the above problematic in situations with multiple peaks. Consider `Weak` UK trajectories:
![image](https://user-images.githubusercontent.com/2741256/77819868-7ec34b00-70de-11ea-8067-3ae4eac3fe78.png)

the dots shows the maximums of the each trajectory. The

[2020-03-28 09:45] gavento commented on #192
@hnykda I think the intent was to simply write the numbers in text below the graph. And there, we could take the range of the maximums from our traces. (Or something bit more complex, e.g. fit them with some distribution and display e.g. 90% CIs, or just discard top and bottom 1, showing this as 50% CIs ..)

[2020-03-28 09:52] hnykda commented on #192
But what numbers would you write there? :grin:

[2020-03-28 09:58] gavento commented on #192
I will add this to the JSON data (in ~30 minutes? working on something related ..).
Note: It may make sense to display this in % as well.
I will leave out the deaths (not sure about the formula)

I think this is just the range of curve maxima. I can add this to the JSON too, if you wish.

I am not sure how to compute this ..

[2020-03-28 10:00] gavento commented on #192
I am not sure how would error bars for values of individual trajectories computed. What do you mean?

[2020-03-28 10:05] gavento commented on #192
Also, I guess this all is *per mitigation strength*? @jk3141

[2020-03-28 10:25] hnykda commented on #192
(resolved with gavento from call)

[2020-03-28 10:54] veselatereza commented on #258
@gavento @hnykda I have prepared manually the data for the "maximal percentage of population that can be infected so that ICU beds are still avalable" (not sure how to name it :D).
The data is ready for all the 59 countries found in https://www.notion.so/9db3df0271214655b13c17bb7565c40c?v=5e75cc3aed784a6baf42826304e7a923, I have it in a csv so far.
I can put it in the regions.yaml in the correspon

[2020-03-28 11:01] hnykda commented on #276
We should be able to put the source information used for data-generated stuff in the data so we have the flexibility, right?

[2020-03-28 11:05] hnykda commented on #282
I would be much more comfortable if some UX/UI person went through this.

[2020-03-28 11:11] hnykda commented on #283
It's unfortunately not possible to somehow change the export functionality, but we could set the background of the plot to transparent, which doesn't really change much (as it's set to the same color as the rest of the page):
![image](https://user-images.githubusercontent.com/2741256/77821769-0c0d9c00-70ed-11ea-8638-30134a6463ae.png)

and then it would export _without_ background, but that would m

[2020-03-28 11:19] hnykda commented on #233
Can you ignore Honk Kong for now just so we get the data to unblock the other cards?

Is the PR ready to be reviewed so we can merge it then?

[2020-03-28 12:27] #285 closed

[2020-03-28 16:26] jez4 commented on #233
@hnykda I have merged the branch.

[2020-03-28 16:42] hnykda commented on #233
Cool, let's close it then.

[2020-03-28 16:42] #233 closed

[2020-03-28 17:29] hnykda opened #288 "Add summary stats for beds and ICU"
Followup for https://github.com/epidemics/covid/issues/192. Currently, we display total infections and active infections. This task is about extending this to:

* number of hospital beds needed
* number of deaths

See the https://github.com/epidemics/covid/issues/192 for proposals how to do it.

E.g:

[2020-03-28 17:54] janpipek commented on #288
Data should be exported here: https://github.com/epidemics/covid/issues/258

[2020-03-28 18:06] hnykda commented on #288
from #258 we should have https://github.com/epidemics/epifor/pull/15/files#diff-6c3d86df2d4cc71a36d45075de3b7cb4R21712

[2020-03-28 18:54] wolverdude commented on #251
So to confirm: this will be a separate chart or part of the same one?

I personally feel it would be more compelling to include lines for confirmed & estimated historical cases on the forecasted chart so that people can see the trend lines for themselves.

But for viewing interventions, it's definitely best to have a separate chart that is _logarithmically scaled_. It would be great to do somethin

[2020-03-28 19:05] wolverdude commented on #193
I think #251 should be part of the same chart as the forecasts, but we can re-use that data in this separate chart. I also think this chart should be logarithmically scaled.

[2020-03-28 19:49] gavento commented on #16
Note: if *you* take this up and any modification in DNS is needed (e.g. for LetsEncrypt), ping me.

[2020-03-28 20:10] hnykda commented on #251
I think that up until now we didn't want to include the historical to forecasted charts because the information is likely not that useful together (as confirmed are much lower than true active).

I think that #193 and this one is workable and the log scale makes sense here.

Regarding plotly vs. timeline.js. I believe that plotly with these two lines (deaths vs. confirmed) and then either:
1. scat

[2020-03-28 20:22] Nora-Ammann opened #293 "shift the legend on the main graph, as it covers the curves for some countries (e.g. India)."

[2020-03-28 20:25] lagerros commented on #251
Hmm... I don't like 1., because it doesn't show you _how long_ the interventions lasted for.

I think @jk3141 's sketch is the best style guidelines, but do understand if we'll have to make trade-offs due to what's feasible to build.

![image](https://user-images.githubusercontent.com/21347592/77833018-71668a80-70f7-11ea-8140-57cbf9324561.png)

[2020-03-28 20:38] hnykda commented on #251
That design is nice in theory but it that:
1. you have "the right amount" of interventions to display (as it doesn't scale very well with many items IMO)
2. you are able to tell the end of the intervention (how do you so for e.g.: "_The Government proposes that airlines be able to receive credit guarantees in 2020 amounting to a maximum of SEK 5 billion..._" or "_The People’s Bank of China provide

[2020-03-29 02:09] lagerros opened #294 "Connect formspree on "Containment database" page to a separate form"
Currently this goes into the same place as the "about" page. We want to separate them out so we can handle them in separate pipelines.

http://epidemicforecasting.org/containment

Lmk if you need access to the formspree account for this and I'll add you

[2020-03-29 09:10] hnykda commented on #192
#287 resolved part of it, there is a followup in #288

[2020-03-29 09:10] #192 closed

[2020-03-29 09:13] hnykda commented on #215
No idea. It's unclear to me what the goal is (the ticket doesn't tell what to do), so I am going to move it `To do` and label with `need-clarification`.

[2020-03-29 09:15] hnykda commented on #288
There is also this discussion: https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1585234929020700

[2020-03-29 09:21] hnykda opened #296 "Update new bed calculation numbers to chart"
FE part for #264 , ideally solving #261 too.

AC:
* bed line is correcly showing up in charts

[2020-03-29 11:26] mathijshenquet commented on #251
<sub>[View in Slack](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1585433693062100)</sub>

[2020-03-29 11:27] mathijshenquet commented on #251
• I used the Oxford dataset as an example, but the code should work with our dataset too after some minimal tweaking. The severity of the measure implemented is a "traffic light" (green=no measures, yellow=some measures, red=lockdown-style measures). You can find it here : <https://github.com/lorenzozanisi/covid-viz/blob/master/covid-viz.ipynb> . If this can be of any help, I'm happy to keep worki

[2020-03-29 11:27] mathijshenquet commented on #193
<sub>[View in Slack](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1585433693062100)</sub>

[2020-03-29 15:40] mathijshenquet commented on #283
I think we can make a custom download handler ([link][1]) and then redraw the plot off screen with different settings.

[1]:https://stackoverflow.com/a/45105871

[2020-03-29 15:49] mathijshenquet commented on #193
@hnykda Can we add the containment measures to data-main-v3.json?

[2020-03-29 18:03] hnykda commented on #193
Sure. There are IMO two options:

* put it in the data-mian-v3.json, which would make the JSON potentially somewhat bigger but I guess till reasonable (AFAIK the dataset has a few hundreds KB)
* have an endpoint which would fetch the CSV on the backend from notion (we have code for that already, could be probably tweaked a bit, we removed that as [it wasn't use](https://github.com/epidemics/covid/

[2020-03-29 18:15] mathijshenquet commented on #193
2 sounds good to me. That would be great!

[2020-03-29 20:04] hnykda commented on #193
So as can be seen here: https://github.com/epidemics/epifor/blob/2d90b55235d859ed9055e7f5c726875406021933/notebooks/containments/containment-to-json.ipynb. In that notebook you can see the structure and how it was done in the case you needed to rerun it. Only `pandas` is required.

It's accessible in https://storage.googleapis.com/static-covid/static/data-main-containments.json.

The biggest "prob

[2020-03-29 22:36] gavento commented on #215
We are currently not using foretold at all. This is more of a progress tracking issue that an actionable one.

[2020-03-30 04:19] Discordius opened #301 "Add correct R0 numbers to the frontend"
As part of the UI Rework PR (#300) we now have short explanations of what the different mitigation strengths mean in terms of reducing R0. Those numbers are currently random guesses and should definitely not be merged to master, and should instead be dynamically updated with our changes to the model.

![Screen Shot 2020-03-29 at 9 01 39 PM](https://user-images.githubusercontent.com/9090789/7787477

[2020-03-30 08:15] mathijshenquet commented on #193
@hnykda there is a problem around column 8284 `"keywords": NaN, `

[2020-03-30 08:25] hnykda commented on #193
Damn... Fixed, uploaded

[2020-03-30 08:37] hnykda commented on #215
created a label for it

Does it have to be at the board though?

[2020-03-30 09:50] mathijshenquet opened #303 "NaN's in displayed statistics for US states"
![Screenshot from 2020-03-30 11-48-52](https://user-images.githubusercontent.com/242143/77899099-815ba700-727c-11ea-86bf-bd85f9eda3b9.png)

See bottom of screenshot.

[2020-03-30 09:51] mathijshenquet commented on #303
See: http://staging.epidemicforecasting.org/?selection=jersey

[2020-03-30 10:16] #263 closed

[2020-03-30 10:25] hnykda opened #304 "solve canada moderate vs strong response issue"
From a user

[2020-03-30 11:40] mathijshenquet commented on #286
I used `sessionStorage` to be conservative, this is reset for every new window/tab. Do you think this is ok?

[2020-03-30 11:52] gavento commented on #304
I agree that his may seem confusing, but it is not a bug in data (possibly in presentation).
What the numbers say is that on Moderate the uncertainty (variance) is much higher than on Strong, unsurprisingly, and the mean on Moderate is **way** higher than Strong, as it should be.

Note that the numbers are results of independent simulations, so such small overlaps are not surprising either.

We ar

[2020-03-30 12:07] mathijshenquet commented on #206
I think that geoguessing by IP would be a possible GDPR violation. I suggests we use the Language-Accept instead.

[2020-03-30 14:50] hnykda commented on #303
Jersey (JEY) is not the US Jersey I believe: https://www.wikiwand.com/en/Jersey

[2020-03-30 15:08] mathijshenquet opened #307 "Adding error handling for data request"
On slow connections the requests to google storage API can fail ungracefully with a timeout.

ref: https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1585579673008200

[2020-03-30 16:50] gavento opened #309 "[TRACKING] Decrease data size and latency on slow connections"
## Current data sizes

The data we serve is growing quite a bit lately, slowing some clients on slower lines.

* The `data-main-v3.json` is 1.2MB
  * Most of this is currently taken by JH data history (lot of repeated keys)
* All the per-country graph data is 70MB (170x ~500kB)
  * This has been already optimized a bit (not repeating all dates in plots, limit precision to ~3 digits)

## What we ca

[2020-03-30 17:04] gavento commented on #309
Re GCS gzip encoding: https://cloud.google.com/storage/docs/transcoding
@jez4 would you be interested in taking it on? As I understand it, needs compression and setting headers before upload.
Also, it would be good to research which browsers may not support `Content-encoding: gzip` (hopefully none).

[2020-03-30 17:31] wolverdude commented on #206
Based on cursory research, I think this should be fine since we aren't storing the IP address and connecting it to other personal data.

[Source](https://www.whitecase.com/publications/alert/court-confirms-ip-addresses-are-personal-data-some-cases)

[2020-03-30 17:38] wolverdude commented on #206
Note that website analytics tools can still dereference IPs and tell you where your traffic is coming from, and we'd be using that data just as anonymously as they are.

[Source](https://iapp.org/news/a/what-the-gdpr-will-mean-for-companies-tracking-location/)

[2020-03-30 18:18] Discordius opened #311 "Make sure Google Analytics works even when the rest of the javascript crashes"
I haven't looked into how we initialize GA, but depending on how we do it, having broken javascript can prevent GA from sending events, which can cause pretty serious prioritization issues in browser-support

[2020-03-30 18:31] lagerros opened #312 "Set the default selected country based on the user's location"
If someone visits from Zambia, show them that by default, and not UK.

[2020-03-30 18:44] lagerros opened #313 "Rename "Democratic Republic of Congo" to "DR Congo""
Based on user feedback.

Current long name messes up small screens.

[2020-03-30 18:57] lagerros opened #314 "Smaller/no graph legend on mobile"
60% of our users are on mobile, so it's important we support this use case.

However, currently the legend hides a lot of the graph:

![Screenshot_20200330-115101](https://user-images.githubusercontent.com/21347592/77950072-ddbec680-727c-11ea-8433-2c3e51554079.png)

I don't know how to solve this, but we should do _something_ about it.

[2020-03-30 19:53] hnykda commented on #309
It's turned on by default as soon as we use `-Z` switch. Solved via: https://github.com/epidemics/epifor/pull/20

[2020-03-30 20:00] hnykda commented on #309
FYI I don't think we should do much more now, i.e. this is a very low hanging fruit and we are on few KBs already, which will likely not get us much further now...

[2020-03-30 20:29] jez4 commented on #41
@hnykda I am checking the deploy action in pythonapp.yml. I should add the gsutil cp there?

[2020-03-30 21:08] hnykda commented on #41
Yes, it should be there on a deploy step. The command is IMO equivalent to the `push_to_bucket

The hard part seems to be actually rendering templates with different static URL paths for static files (I asked about it here https://github.com/encode/starlette/issues/884).

In the first case, I propose to use something like:

[code]

[2020-03-30 21:16] wolverdude commented on #293
Duplicate of #314

[2020-03-30 21:16] #293 closed

[2020-03-30 21:19] wolverdude commented on #278
Duplicate of #252

[2020-03-30 21:19] #278 closed

[2020-03-30 22:23] wolverdude commented on #314
@lagerros The chart view is generally terrible on mobile because Plotly's "responsive" implementation is terrible (apparently they've never heard of svg `viewBox` 🤦‍♂). I've figured out a way to maintain a consistent 1:1 size ratio for the chart and solve this problem without eliminating the legend. The downsides are that the text can get awfully small (see image), and I have to modify the HTML el

[2020-03-30 22:39] lagerros commented on #314
Hmm... One thing to watch out for is if something breaks from #315

Apart from that I don't have the tech chops to decide whether your solution is good or not. Happy to trust your judgement.

[2020-03-30 22:55] Discordius commented on #301
This is the current blocker for #315

[2020-03-30 23:53] wolverdude commented on #314
I don't think the technical problems are very likely. I suppose I was more interested in whether you thought the small text was too much of a UI issue.

[2020-03-31 00:22] lagerros commented on #314
Aha! Answer is no I don't, seems like the correct trade-off to me.

[2020-03-31 01:17] mathijshenquet commented on #312
Duplicate of #206 fixed in #306

[2020-03-31 01:17] #312 closed

[2020-03-31 01:46] lagerros opened #316 "(Tiny) Update copy"
Few copy requests. Mentioning high-performance computers and flight network is something which may be good for uninformed public but is a red flag for epi modelling professionals
https://www.notion.so/Wiki-and-documents-81b1d50642d44151acb38f0f0ec69a09?p=8ca9118f5d8c40358ee5d9bbb7bf2277&showMoveTo=true

[2020-03-31 05:49] #31 closed

[2020-03-31 06:05] lunemec commented on #36
I think this is not super necessary. Should be done once someone actually breaks production.

[2020-03-31 06:13] lunemec commented on #16
There is beta feature of automatic SSL via LetsEncrypt: https://cloud.google.com/run/docs/gke/auto-tls

I'm not certain if this is applicable here though.

[2020-03-31 06:31] lunemec commented on #34
@hnykda what is the current estimated monthly cost for k8s cluster? I know it changes based on usage, so it will most likely increase, but just a ballpark number?

Few ideas what can help: ~changing the datacenter: `us-west1-c` - different DCs have different prices.~ Nope `us-west1` is the cheapest option.

Still 3x nodes per `$7.30` per month is not that much, but ingress for example is pretty ex

[2020-03-31 06:40] lunemec commented on #34
Okay, I tried their calculator and the results are:
[code]
And then auto-scaled using different nodes, but trying to have same ammount of memory (cpus seem the same) and running only 12h per day (peaks):
[code]

Seems the price is more/less the same. But maybe incrementing by smaller+cheaper nodes is better and more granular (which may end up cheaper in the end). But it depends if the Python app w

[2020-03-31 06:48] lunemec commented on #34
I also noticed: `disk_size_gb    = 100`, that is 4 $/mo.

[2020-03-31 08:37] #286 closed

[2020-03-31 09:01] #206 closed

[2020-03-31 09:47] hnykda commented on #31
Thanks!

[2020-03-31 09:52] jez4 commented on #31
@lunemec Hello, could you advise with the testing of github actions. I have a task with github actions and I would like to avoid the mess by pushing to repo, while testing github actions.

[2020-03-31 10:01] hnykda commented on #31
@jez4 I think that you can just open your branch and do your changes there, commenting out all the stuff you don't want to be run.

[2020-03-31 10:02] lunemec commented on #31
@jez4 as @hnykda says, I created a fake step, but added condition there specifically for my branch so I could test the condition works. But you won't be able to test deployment like that for example.

[2020-03-31 10:03] hnykda commented on #41
@jez4 I just realized that I did something in the past (it's not in master anymore): https://github.com/epidemics/covid/pull/122/files

^ you IMO want to take this and move it to the deploy branch only (so it's iterated only on deploy) and instead of setting that public access and cache control actually uploading everything gzupped.

[2020-03-31 10:19] jez4 commented on #31
yes. I need to upload something to bucket. that should be ok
Thank you

[2020-03-31 12:15] mathijshenquet commented on #279
Frontend-wise we can easily do this.

[2020-03-31 14:16] mathijshenquet commented on #316
Does this copy need to be finished still?

[2020-03-31 16:24] lagerros commented on #301
Feedback from Jan:

[2020-03-31 19:04] hnykda commented on #16
I just did https://github.com/epidemics/covid/pull/319 but then I got stuck

[2020-03-31 19:08] hnykda commented on #34
Thanks for quick calculations. It seems valid, therefore I wouldn't invest much more in it.

Here is a screenshot of the current billing:
![image](https://user-images.githubusercontent.com/2741256/78065428-924b0c00-7393-11ea-9af2-c3c93e295f3c.png)
the last day spike is because I changed preemptible->nonpreemptible to avoid outages we had when GKE loadbalancer is slow to take off replicas out of th

[2020-03-31 19:13] hnykda commented on #264
Done via #259

[2020-03-31 19:13] #264 closed

[2020-03-31 19:29] hnykda commented on #258
AFAIK done in epifor/#15

[2020-03-31 19:29] #258 closed

[2020-03-31 21:30] gavento commented on #301
@Discordius I would not go for dynamic updates of the parameters - we never updated beta and I do not expect to do it more than 0-2 times over the next 2 months. Updating the mitigation strengths already requires manual UI update (e.g. the percentages).

The model parameters we are using are beta=1.285 and mu=0.5 (exp. 2 day infectious period), you may want to confirm R0 with Jan.

[2020-03-31 22:26] gavento commented on #303
Jersey and few other countries were missing population in our data (and therefore in the JSON), hence the NaNs. Fixed in 44c214f4b4c1847ff8d4489af6ac25bee2d8e269.

[2020-03-31 22:26] #309 closed

[2020-03-31 22:27] gavento commented on #313
Done in 44c214f4b4c1847ff8d4489af6ac25bee2d8e269, should be online soon.

[2020-03-31 22:27] #313 closed

[2020-03-31 23:37] lagerros commented on #301
Solved by a recent commit.

[2020-03-31 23:37] #301 closed

[2020-04-01 08:02] jez4 commented on #41
I should use {{ STATIC_URL }} for templates

[2020-04-01 08:18] hnykda commented on #268
Closed via #315

[2020-04-01 08:18] #268 closed

[2020-04-01 08:18] hnykda commented on #269
Closed via #315

[2020-04-01 08:18] #269 closed

[2020-04-01 08:19] hnykda commented on #270
@Nora-Ammann do you still think this is a problem with the new design?

[2020-04-01 08:23] hnykda commented on #311
How can we effectively test this? I.e. what are the AC?

[2020-04-01 08:23] hnykda commented on #304
Should we close this then?

[2020-04-01 08:24] mathijshenquet opened #321 "Dismissing consulting button is broken"

[2020-04-01 08:24] hnykda commented on #316
I believe so given it's so recent.

[2020-04-01 08:31] Discordius commented on #311
I would use something like [browserstack](https://www.browserstack.com/) to get access to old browsers, and then make sure that the browser you are using still sends GA events, even when the main site is broken and the javascript is crashing.

[2020-04-01 08:36] #321 closed

[2020-04-01 08:39] hnykda opened #323 "Fix the automatic country selection"
Suspected regression of https://github.com/epidemics/covid/issues/312 .

When I load the page now, I can see that until everything renders, there is: `czechia` (correct), but a second later it's overwritten by `United Kingdom`.

[2020-04-01 09:20] mathijshenquet commented on #323
I think I know why this happens. Its because the key of czechia is czech+republic. The proper way to fix this would be to use ISO3 codes as country identifiers everywhere.

[2020-04-01 09:49] mathijshenquet opened #325 "Add historic FT_Infected to the data"
Blocking #251

Currently the `FT_Infected` field is only given for the last day in https://storage.googleapis.com/static-covid/static/data-main-v3.json located in `regions[].data.estimates.days[]`. This is needed for #251.

@gavento could you triage this?

[2020-04-01 09:56] mathijshenquet opened #326 "Expose containments"
Blocking #193

The containment hierarchy need to be worked out and exposed to the backend.
https://epidemicforecasting.slack.com/archives/C010KK204TG/p1585591422017800

### Todo
- [ ] Agreement over the category hierarchy (people: Jan Kulveit?)
- [ ] Agreement over display and styling of the categories
- [ ] Data wrangling and exposing to frontend

### Data needed for the frontend (suggestion)
**N

[2020-04-01 10:41] mathijshenquet opened #327 "Expose critical rate / critical beds capacity to frontend"
Needed for critical line

[2020-04-01 11:54] Nora-Ammann commented on #270
Still think it should be "Explore global and national mitigation strength".
(I think you can delete the "the".)

And/or, (in the description towards the bottom of the doc), add the
specification *(in bold)*:

Mitigation Measures

We're modelling *global *mitigation measures via their impact on...

On Wed, Apr 1, 2020 at 10:19 AM Daniel Hnyk <notifications@github.com>
wrote:

--
​------------------

[2020-04-01 11:55] Nora-Ammann commented on #304
Overall, I still think it should be "Explore global **and national** mitigation strength". (I think you can delete the **"the"**.)

And/or, (in the description towards the bottom of the doc), add the specification (**in bold**):

[2020-04-01 11:56] Nora-Ammann commented on #270
@hnykda Overall, I still think it should be "Explore global **and national** mitigation strength". (I think you can delete the "**the**".)

And/or, (in the description towards the bottom of the doc), add the specification (in **bold**):

[2020-04-01 12:04] hnykda commented on #323
Note that if we go to the city granularity, we can't use ISO 3 :-( ...

[2020-04-01 12:17] mathijshenquet commented on #323
How about https://www.unece.org/cefact/locode/service/location.html

[2020-04-01 12:34] jez4 commented on #41
I have managed to upload static files to the bucket gzipped. Now the templates.

[2020-04-01 13:23] Nora-Ammann commented on #270
I'm a bit confused about this as there is a thread here and a therad in slack and I don't know which one to reply to/which one is most up to date.

FWIW:

* @mathijshenquet shared an image [in slack](https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1585658425084000) - FWIW: I like that solution and if we are talking about that solution, I don0't think there is an additional need to change

[2020-04-01 14:20] hnykda commented on #323
These are ISO alpha 2, how would that help us? :thinking:

We already tried to add ISO alpha 3 where possible, see https://github.com/epidemics/epifor/blob/master/data/regions.yaml for countries. But as you may have noticed, users would like e.g. cities which we don't have it.

[2020-04-01 15:57] jez4 commented on #41
The templates are done. Now just to perfect the workflow. I will ask for review afterwards.

[2020-04-01 16:49] #314 closed

[2020-04-01 19:34] hnykda commented on #304
Interpreting "leave" as "leave the site as is"

not

"leave the issue" :grin:

[2020-04-01 19:34] #304 closed

[2020-04-01 20:35] #283 closed

[2020-04-01 21:06] hnykda commented on #41
Closed via #333

[2020-04-01 21:06] #41 closed

[2020-04-01 21:09] lagerros opened #334 "Remove "m" from chart legend for small numbers"
This should probably not be shown for small numbers:
![image](https://user-images.githubusercontent.com/21347592/78186946-6e82d700-7422-11ea-9667-a2c82e61c174.png)

[2020-04-01 21:12] hnykda commented on #270
Done (if I deciphred the different slacks correctly), can you please review?

[2020-04-02 08:23] Nora-Ammann commented on #270
yes :)

[2020-04-02 09:19] mathijshenquet commented on #334
This looks like an floating point error, the d3 format "d" should fix this.

[2020-04-02 09:24] hnykda commented on #270
Cool. Feel free to close tickets when you approve them.

[2020-04-02 09:24] #270 closed

[2020-04-02 11:55] #334 closed

[2020-04-02 12:28] mathijshenquet opened #335 "Restructure frontend javascript"
There has been some technical debt accruing in the javascript frontend, see for example `lines.js`. To address this I suggest we switch to webpack and typescript. This should allow us to grow the codebase while keeping the structure clean and preventing bugs.

[2020-04-02 15:08] #316 closed

[2020-04-02 15:16] #323 closed

[2020-04-02 15:17] hnykda opened #336 "Longterm fix for preselection of location"
Follow up for https://github.com/epidemics/covid/issues/323, as the fix doesn't make it work for `USA`.

The fix for CZ was done by this: https://github.com/epidemics/covid/pull/324/files.

[2020-04-02 15:18] hnykda commented on #336
@mathijshenquet Would you be so kind and specify what where/what was your proposal, e.g. even if we had ISO alpha 3 (where?), what would have to be done.

[2020-04-02 15:18] wolverdude commented on #336
From the San Francisco Bay area, this still defaults to `United Kingdom` for me.

[2020-04-02 15:54] mathijshenquet commented on #336
The basic issue is that the timezone detection code does not know which keys are assigned to which country. I.e. it can recognize the county but then does not know which keys to use. I don't know where the mapping from countries to keys is defined, probably somewhere in `epifor`. If I had this it would be an easy fix.

[2020-04-02 16:24] jez4 commented on #16
@hnykda I'm Trying to setup kubectl and I could not find it anywhere. I would like to follow SSL over LetsEncrypt which was proposed by @lunemec. What should I put in ~/.kube/config? :)

[2020-04-02 19:08] hnykda commented on #336
Yes, it's in https://github.com/epidemics/epifor/blob/master/data/regions.yaml which I referenced in the previous issue: https://github.com/epidemics/covid/issues/323#issuecomment-607278529

Note that Tomas is working on redesigning this entirely in the new epimodel repo.

[2020-04-02 19:23] lunemec commented on #16
@jez4 I think `.kube` folder is just a minikube config for local development.

If you want to update the cluster, you have to do it via terraform: https://github.com/epidemics/infra

[2020-04-02 19:24] lunemec commented on #16
But first, take a look at what is the current k8s version, this beta feature is available only in very new versions.

[2020-04-02 19:26] lagerros opened #337 "Design breaks if I double click on the legend"
If you double click a line in the legend it gets isolated in the plot.

However, this causes the design to break, see screenshot.

![image](https://user-images.githubusercontent.com/21347592/78292970-b7976180-74dc-11ea-8f78-b3d9b0919122.png)

[2020-04-02 19:34] hnykda opened #338 "switch bucket to multiregional"
Partly prepared here: https://github.com/epidemics/infra/pull/1

The goal is to have bucket multiregional instead of just regional (`storage_class = "STANDARD"`). Multiregional bucket have lower latency when accessed from different locations.

We can't have a downtime, so recommended approach:

1. create new multiregional bucket (see the infra PR above)
2. use google transfer to transfer data from

[2020-04-02 19:35] hnykda commented on #338
@lunemec any chance you would like to try this one (can give you perms for infra)? :eyes:

[2020-04-02 20:18] hnykda commented on #16
I think you are overthinking this. We already _have_ certificates in the cluster as secrets and the PR shows how to reference them. in ingress which works already. We don't need let's encrypt now.

What we need to make work is the communication between `Ingress` <-> `web-deployment` work with HTTP only somehow. E.g. django uses this: https://docs.djangoproject.com/en/3.0/ref/settings/#secure-proxy

[2020-04-02 21:46] mathijshenquet commented on #337
The chart also brakes if you enable/disable some of the traces. The `makeReactive` function should be attached like this: `plotlyGraph.on('ploty_redraw', makeReactive)`.

[2020-04-02 21:48] mathijshenquet commented on #337
For me the scaling is also off. In portrait the graph is too low DPI:
![image](https://user-images.githubusercontent.com/242143/78303133-628b3800-753c-11ea-9f23-01d8a747eef9.png)

But in horizontal orientation it is to high DPI:
![image](https://user-images.githubusercontent.com/242143/78303112-5901d000-753c-11ea-8f59-019fa32efae0.png)

[2020-04-02 21:49] mathijshenquet commented on #337
This looks better for me: `const CHART_WIDTH = Math.max(500, Math.min(1000, CHART_CONTAINER.clientWidth));`.

[2020-04-02 22:07] Discordius opened #341 "Numbers on hover-over are mostly unreadable on my screen"
![Screen Shot 2020-04-02 at 3 06 53 PM](https://user-images.githubusercontent.com/9090789/78304445-a0b03980-74f3-11ea-9808-4ba10b45513f.png)

[2020-04-03 10:14] hnykda commented on #16
Merged.

[2020-04-03 10:14] #16 closed

[2020-04-03 10:16] lunemec commented on #338
@hnykda yeah, sure. But it will increase cluster costs.

[2020-04-03 14:19] mathijshenquet opened #343 "Fix image sizes logo in footer"

[2020-04-03 15:29] wolverdude commented on #337
It looks like the double-click functionality re-adds width/height to the Plotly svg elements.

From #314 regarding the solution I implemented:

This is one of those "unanticipated hooks". I didn't know about the double-click functionality at the time.

[2020-04-03 15:33] mathijshenquet commented on #337
Did you see my suggestion? The `plotyly_redraw` event should do the right thing. After intialization by for example `newPlot` you can attach it to the dom element by `.on(cb)`

[2020-04-03 19:44] hnykda opened #345 "Unify fonts sizes"
From slack:

which is true. The goal is to simplify "as much as possible" across all pages.

AC:
* font sizes are unified

[2020-04-03 19:47] #343 closed

[2020-04-03 19:48] hnykda opened #346 "Switch to JS on backend"
We have very thin `main.py` now, basically just templating few simple pages.

We may consider switching to some JS based server (or even to an SPA?) to simplfy the stack (and we have yarn and such already anyway because of webpack).

[2020-04-03 19:49] hnykda commented on #346
@jeromezng @wolverdude @mathijshenquet
Any proposals? An easy way would be something like `express.js` with https://github.com/mozilla/nunjucks to serve the templates.

[2020-04-03 21:22] lagerros opened #348 "Extend countries to include Myanmar"
This is currently not among the countries we display.

[2020-04-03 21:25] wolverdude commented on #341
@Discordius I just opened a PR that should fix this. Let me know if it doesn't.

[2020-04-04 01:35] gavento opened #350 "Update web JSON to v4"
With impending pipeline change, the JSON spec will be updated to v4.

Please prepare this in a branch, do not merge yet.

Changes:

* The region keys are ISO codes
  * `US` for countries, `US-CA` for provinces (ISO3166-2), others TBD
* Every region has
  * `data` - dictionary of any attributes embedded in the main JSON
  * `data_url` - relative URL to the main JSON file with any larger data to be

[2020-04-04 01:49] gavento commented on #350
Example file:
[code]
(We will have more data fields)

[2020-04-04 09:56] mathijshenquet commented on #346
I have no strong opinions on this. I know express.jx the best but this was a long time ago. Nunjucks sounds good, especially since it will ease the transition and is maintained by mozilla.

My weak vote would be to go with express.js and nunjucks as you suggested.

[2020-04-04 10:33] #341 closed

[2020-04-04 10:33] #337 closed

[2020-04-04 11:10] mathijshenquet commented on #350
@gavento are you aware of the UN/LOCODE standard for cities?

https://www.unece.org/cefact/locode/service/location

There you can go to the city codes per country, e.g https://service.unece.org/trade/locode/gb.htm

[2020-04-04 11:10] mathijshenquet commented on #335
Closed by #340

[2020-04-04 11:10] #335 closed

[2020-04-04 11:19] mathijshenquet commented on #350
@gavento could I also request that we add timezones to the region data. This would then be used to determine which location to show in the frontend. I could work on adding this myself.

[zone.csv.txt](https://github.com/epidemics/covid/files/4431218/zone.csv.txt)

[2020-04-04 11:22] mathijshenquet commented on #336
Blocked by #350

[2020-04-04 13:28] mathijshenquet commented on #346
I tried this out and it was very easy to do, see here #353

[2020-04-04 15:41] hnykda opened #355 "clean the GCS from old data releases"
Clean unused resources on GCS (to reduce cost and also be able to have a better structure on GCS as we are putting more and more there):

Cleaning doc: https://docs.google.com/spreadsheets/d/19A129SpzDBdvht8w3VpqtlzjXadMzwCUo2anSj-r70I/edit#gid=0

[2020-04-04 15:43] hnykda opened #356 "Remove French guyana from France in geojson"
I would leave it black, so just removing it.

[2020-04-04 16:21] hnykda opened #357 "Add R0 estimate to traces data"
If we had (maybe we do?) a good way of estimating R0 of each of the mitigation strength in the data pipeline already, we could probably display a better information (~e.g. country specific) then a hardcoded set of ones as we have it now.

[Related discussion](https://epidemicforecasting.slack.com/archives/C010LQAGCBC/p1585994052055300?thread_ts=1585868446.053000&cid=C010LQAGCBC):

This would be ne

[2020-04-04 16:28] hnykda commented on #257
@gavento is this still relevant?

[2020-04-04 16:28] hnykda commented on #228
Is this still relevant?

[2020-04-04 16:38] hnykda commented on #350
Ha, good point with the UN/LOCODE. I found a good dataset here: https://datahub.io/core/un-locode
![image](https://user-images.githubusercontent.com/2741256/78456334-5372ca00-76a3-11ea-8b65-fc74c557c9be.png)

seems to have all codes we would need. I found adding a timezone easy via https://pypi.org/project/timezonefinder/ from lat/lon in the past.

[2020-04-04 16:40] hnykda commented on #325
The problem is that we have them only for weeks or something. That means we would have to probably do some interpolation (which would IMO work reasonably well).

But AFAIK @gavento wanted to switch to week granularity anyway  https://epidemicforecasting.slack.com/archives/CV1F9NB5K/p1585942517090100

[2020-04-04 17:05] hnykda commented on #252
@Nora-Ammann I propose to add a single line below the graph as you suggest, but I wouldn't add a hover of "no-active-cases" for now. Would that be enough?

[2020-04-04 17:07] Nora-Ammann commented on #252
Sounds good

On Sat, 4 Apr 2020 at 19:05, Daniel Hnyk <notifications@github.com> wrote:

--
​------------------------------------
Nora Ammann
​7 Juxon Street
Oxford OX2 6DL
Tel. ​ +44 7500539532
nora@eageneva.org
------------------------------------

I highly appreciate your feedback!
<https://docs.google.com/forms/d/e/1FAIpQLSfcqIWbmcJJdIb4IjcL4lYPPy30NYoO9f_visCfyi8LOxks2Q/viewform?usp=sf_link>

[2020-04-04 17:15] hnykda commented on #252
![image](https://user-images.githubusercontent.com/2741256/78457186-9b482000-76a8-11ea-80a8-dd17b2c1148b.png)

[2020-04-04 17:15] #252 closed

[2020-04-05 08:08] hnykda commented on #356
Solved https://github.com/epidemics/covid/pull/359/files

[2020-04-05 08:08] #356 closed

[2020-04-05 09:50] hnykda opened #360 "Display historical estimates in the line plot"
Follow up for #325 (https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1586079875094500).

We have data for historical estimates. Add them to the main line chart.

[2020-04-05 10:28] veselyvojtech opened #361 "Dynamical maximal value on the colorscale for Case map"
The maximal value where "redness" of a country does not increase anymore is 32k infected per 1M. Make this dynamical based on the maximal value per countries.

[2020-04-05 10:34] veselyvojtech opened #362 "Missing population data for Brunei, El Salvador"
The `population` data in https://storage.googleapis.com/static-covid/static/data-main-v3.json are missing for Brunei and El Salvador. Consequently, those countries are not shown at the Case map.

[2020-04-05 18:58] hnykda commented on #361
#363

[2020-04-05 18:58] #361 closed

[2020-04-05 18:59] hnykda commented on #325
https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1586108207100400?thread_ts=1586079875.094500&cid=C0100EK7N8N

[2020-04-05 18:59] #325 closed

[2020-04-05 19:01] hnykda commented on #360
Decided not to be added: https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1586108207100400?thread_ts=1586079875.094500&cid=C0100EK7N8N

[2020-04-05 19:01] #360 closed

[2020-04-05 19:02] hnykda commented on #251
Updated in the original description

[2020-04-05 19:13] gavento commented on #350
Thanks for pointing out UN/LOCODE db, however I am not sure how would we use it - we are on the resolution of provinces/states in SOME countries, and I don't see us having finer data anytime soon. (And when we have them, I am afraid it may be in a very different hierarchy than LOCODE, e.g. GLEAM uses something exotic that has very different resolution.)

[2020-04-05 19:15] gavento commented on #350
Timezones should be doable. I am very much constrained on dev time/coordination now, however.
@mathijshenquet If you want to work on it, it would be best in the "new" pipeline (epimodel). Web export is not finished yet, but the groundwork is there and if you want, any help there is welcome!

[2020-04-05 19:18] gavento commented on #350
@mathijshenquet By the way, the csv file you shared is directly useful in epimodel, thanks!
Would you please update it to have just `Code` (ISOalpha2, sorted) and `Timezone` columns, and submit it to epimodel-covid-data repo? Then inclusion in web will be almost trivial (similarly for other similar data)

[2020-04-06 07:51] lunemec commented on #16
@hnykda did it work? It does not redirect me to https, and if I try https manually the certificate does not match. It does not match `epidemicsforecasting.org` because it is valid for `*.epidemicforecasting.org.` ...

and www. version is not there.

[2020-04-06 08:30] #345 closed

[2020-04-06 10:23] mathijshenquet commented on #311
I verified that it currently works on ie7.

[2020-04-06 10:23] #311 closed

[2020-04-06 18:58] hnykda opened #367 "Add nowcasting to the historical chart"
blocked by #251

Nowcasting = forecast for next two weeks based mainly on exponential regression using the estimate of growth rates

AC:
* the historical graph contains now casting

[2020-04-06 19:33] hnykda commented on #355
Done

[2020-04-06 19:33] #355 closed

[2020-04-06 19:35] hnykda opened #368 "Add "No estimate" hover to casemap"
https://epidemicforecasting.slack.com/archives/C0100BY1EJZ/p1586198610000100

[2020-04-06 19:59] hnykda commented on #346
Sorry, my bad, still open #364

[2020-04-06 23:03] mathijshenquet commented on #336
Timezones have been added to epimodel data https://github.com/epidemics/epimodel-covid-data/blob/master/timezones.csv after this is exposed to the frontend we can fix this issue.

[2020-04-07 15:42] hnykda opened #370 "Improve the request calculation form page"
https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1586115147103200

[2020-04-07 16:22] lunemec commented on #338
@hnykda can I start? I'm not sure if I can apply those terraform, and I think I'll need google cloud permissions to copy the buckets.

[2020-04-07 19:47] hnykda commented on #348
I believe we need to add it in the model than. @gavento do you have any ETA or can you delegate that to someone?

[2020-04-07 19:47] hnykda commented on #350
Additional stuff from slack:

[2020-04-08 20:52] #368 closed

[2020-04-08 23:35] wolverdude opened #371 "[URGENT] Add notice of suspended estimates"
Estimates & forecasts are currently stale while the models are being refactored (last update was April 2).

The copy on the site does not make this clear. Please add a notice that says something like:

([see thread in Slack](https://epidemicforecasting.slack.com/archives/CV0GGP151/p1586379687086400))

[2020-04-08 23:35] wolverdude commented on #371
@gavento @lagerros

[2020-04-08 23:37] wolverdude commented on #371
I think the best thing to do will be to add this text in a notification text like the one letting people know about our custom modeling work.

![Screen Shot 2020-04-08 at 4 36 24 PM](https://user-images.githubusercontent.com/4276302/78843272-33028280-79b7-11ea-96a0-97e1a797116b.png)

[2020-04-08 23:38] lagerros commented on #371
Seems fine!

[2020-04-08 23:47] wolverdude commented on #371
@gavento @lagerros How about this copy?

[2020-04-08 23:56] lagerros commented on #371
sounds good

On Wed, 8 Apr 2020 at 16:47, Jon Wolverton <notifications@github.com> wrote:

--
*All the best,*
Jacob Lagerros

*Feel free to book a call in my calendar: calendly.com/jacoblagerros
<http://calendly.com/jacoblagerros>*

*My replies will often be brief. Saves us both time!*

[2020-04-09 01:07] wolverdude commented on #371
New instructions: make a shorter note just above/next to/below the date above Active infections.

New copy:

[2020-04-09 01:38] wolverdude commented on #294
New form endpoint: https://formspree.io/moqnwzlb

[2020-04-09 01:48] #371 closed

[2020-04-09 17:46] hnykda commented on #338
Hey, sorry, got in the middle of stuff. Could you give me your gmail account I can add to our org? Also, do you want to do it via terraform?

[2020-04-09 19:01] hnykda commented on #34
![image](https://user-images.githubusercontent.com/2741256/78930949-43912680-7aa5-11ea-9901-2614b4449c3b.png)

As we switched to non-preemptible nodes, we will ran out of cash in ~2 months. So I asked google and let's see :shrug:

[2020-04-10 07:59] lunemec commented on #338
@hnykda `lu.nemec@gmail.com`

Yes, I'll do it via terraform.

[2020-04-10 08:44] hnykda commented on #338
You are an editor now: https://github.com/epidemics/infra/commit/4190ca8db86685d3cd75c783cac0c612a2144532#diff-0eb4ca96c71300b689450168777e0279R22

[2020-04-10 08:51] hnykda commented on #34
Got an email that they may get back in ~week.

[2020-04-11 08:09] mathijshenquet commented on #326
### Data needed for the frontend (suggestion 2)
Measure category hierarchy, array of records:
- `id` canonical identifier (e.g `schools`)
- `label` the label to be displayed on the left  (e.g. `Schools`)
- `long_name` can be the name of the tag in notion, might be displayed on hover/select (e.g. `Schools and universities`)
- `kind: "set" | "linear"` - `linear` means that the measures are linearly

[2020-04-11 21:43] mathijshenquet opened #377 "Issues with gleamviz data"
- [x] ~Population field is missing in `epimodel-data/region.csv` dataset.~ (moved to https://github.com/epidemics/covid/issues/386)
- [ ] Gleamviz trace data is possible incorrect and should be examined for correctness
- [ ] Initial infected is missing in the generated files.

[2020-04-11 21:50] gavento commented on #377
1. What is "the gleamviz dataset"? If you mean regions-gleamviz, then yes, part of it is missing (did not have a data source).

2. The trace data in the HDF5 is the _actual fraction_, so "per 1 person"

[2020-04-11 21:55] mathijshenquet commented on #377
1. Yeah i mean the hdf5 file
2. I think you divided by 1000 one time to often, or at least thats how it shows up in https://storage.googleapis.com/static-covid/static/data-main-v4.json

[2020-04-11 21:56] mathijshenquet commented on #377
See for example: https://storage.googleapis.com/static-covid/static/export-2020-04-11T20-55-11.726933+00-00/extdata-NL.json It is not the case that only 10^-6 people are infected in NL.

[2020-04-12 09:04] mathijshenquet commented on #377
So in data v3 it would show infected per 1000 and i claim it currently shows infected per 0.001.

[2020-04-12 09:57] gavento commented on #377
Clarification on the data in v4 and gleam HDF:

The data in HDF5 is _daily new_ infected (resp recovered) per 1 person - that is why it is so low compared to prev numbers.
You can compute _cumulative_ infected (resp recovered) by (something like) df.cumsum()

Fro every region separately: Active infected at time t is then cumulative_infected[t]-cumulative_recovered[t]+initial_infected.
The initial_

[2020-04-12 10:38] mathijshenquet commented on #377
Thanks!

[2020-04-12 10:39] mathijshenquet commented on #377
As to point 1. I meant the `Population` field in `epimodel-data/region.csv`.

[2020-04-13 09:41] mathijshenquet opened #381 "Namibia (NA) does not have Johns Hopkins reports in data-v4"

[2020-04-13 11:27] hnykda commented on #327
Fixed in https://github.com/epidemics/epimodel/pull/25

[2020-04-13 11:27] #327 closed

[2020-04-13 11:28] hnykda commented on #261
Fixed in https://github.com/epidemics/epimodel/pull/25 (so should be visible as soon as we do #296

[2020-04-13 11:28] #261 closed

[2020-04-13 11:29] hnykda commented on #350
Done in https://github.com/epidemics/epimodel/pull/25, will create follow up cards for what's left

[2020-04-13 11:29] #350 closed

[2020-04-13 11:30] hnykda commented on #276
@wolverdude I believe it's done as part of the https://github.com/epidemics/epimodel/pull/25 where we don't include stuff like colors etc. anymore (and FE needs to deal with that). So closing.

[2020-04-13 11:30] #276 closed

[2020-04-13 11:31] hnykda commented on #288
@mathijshenquet can we close this as it should be part of rates.txt added [here](Fixed in https://github.com/epidemics/epimodel/pull/25), right?

[2020-04-13 11:32] hnykda commented on #336
@mathijshenquet can you update me if the timezones are being used already by new FE (and https://github.com/epidemics/epimodel/pull/25)? If yes, we can close this and if not, we should unblock it (as the data are there)

[2020-04-13 11:33] hnykda commented on #338
Sorry, it's already multiregional, it's my bad not checking it earlier and not catching that up when specifying the task...

[2020-04-13 11:33] #338 closed

[2020-04-13 11:33] mathijshenquet commented on #336
It fixed!

[2020-04-13 11:33] #336 closed

[2020-04-13 11:34] hnykda commented on #307
Is it still relevant with the new FE?

[2020-04-13 11:36] hnykda commented on #257
Closing via https://github.com/epidemics/epimodel/pull/25, as most of that has been done already. There are things left which I hope we can break down into smaller items.

[2020-04-13 11:36] #257 closed

[2020-04-13 11:37] hnykda commented on #228
Closing this as it was mostly for epifor and this has been redone in epimodel https://github.com/epidemics/epimodel/pull/25

[2020-04-13 11:37] #228 closed

[2020-04-13 11:37] hnykda commented on #254
So far there hasn't been a request for this, so closing.

[2020-04-13 11:37] #254 closed

[2020-04-13 11:38] hnykda commented on #362
There are likely more, I think we'll have to deal with these differently anyway, I am gonna track it in a different ticket. Thanks though

[2020-04-13 11:38] #362 closed

[2020-04-13 11:39] #151 closed

[2020-04-13 11:39] #152 closed

[2020-04-13 11:39] #169 closed

[2020-04-13 11:39] #199 closed

[2020-04-13 11:39] #203 closed

[2020-04-13 11:39] #204 closed

[2020-04-13 11:39] #205 closed

[2020-04-13 11:41] mathijshenquet commented on #288
No we still need beds_per_100k, you can assign me this though.

[2020-04-13 11:42] mathijshenquet commented on #288
Actually I didnt read this well and what was described in this Issue is now included.

[2020-04-13 11:47] mathijshenquet commented on #307
Yes

[2020-04-13 11:49] hnykda commented on #288
Yeah, this is actually a frontend part, so this should be closed until it's on frontend.

[2020-04-13 11:49] mathijshenquet commented on #296
I propose that we just expose beds_per_100k for this. Then the frontend can do the necissary calculations.

[2020-04-13 11:53] mathijshenquet commented on #377
The gleamviz data could still be incorrect. We previously thought it was off by a factor of a 1000 but assuming that it was deltas like Tomas said above needed a multiplication factor of 10k to make sense.

[2020-04-13 11:54] mathijshenquet opened #382 "Up the gleamviz trace granularity"
In my opinion a granularity of 7 days is probably too little and results in visibly uglier graphs. I think a granularity of 3 days would be optimal.

[2020-04-13 11:57] hnykda commented on #296
OK. So do you mean:

1. taking source data from https://github.com/epidemics/epifor/pull/15/
2. adding them to https://github.com/epidemics/epimodel-covid-data/
3. exposing them as https://github.com/epidemics/epimodel/pull/29/files

?

[2020-04-13 12:05] mathijshenquet commented on #296
Yes except that the necassary data is already in `epimodel-data/hopsital-capacity.csv`. I think they used `rates.csv` to compute the capacity columns (right @jez4 ?)

[2020-04-13 12:18] mathijshenquet opened #383 "Missing Foretold estimates/extrapolation"
We used to have FT_estimates for many countries in v3, in v4 we only have Fortold estimates for few. Now we are using some cludge to estimate the current infected from reported data in the frontend.

We either have to:
1. Recreate estimates in the backend
2. Properly vet the cludge so to ensure its not wrong.

[2020-04-13 16:01] jez4 commented on #296
@mathijshenquet I took the data from @veselatereza .. I have added only codes instead of country names.

[2020-04-13 18:46] hnykda commented on #296
OK, cool, that's IMO correct and therefore steps 1. and 2. are not necessary.

[2020-04-14 07:05] wolverdude commented on #326
Quick status update: I see why this task has been languishing for a while. It's deceptively huge. Based on what I've seen, it'll probably take me most of the week to complete.

Mathijs and David helped me understand what all the notebooks were doing and get the context for where the data is coming from. The current steps are:

- [ ] Fetch & transform tags from Notion (mostly done)
- [ ] Fetch & tr

[2020-04-14 10:25] mathijshenquet commented on #326
Thanks Jonathan, I also thought that this one was going to be quite difficult so I really appreciate that you are looking into it. If you could use any help please feel free to ask.

[2020-04-14 19:21] hnykda opened #386 "Add population to data"
Add populations to all countries we have in https://github.com/epidemics/epimodel/blob/master/config.yaml#L32 to https://github.com/epidemics/epimodel-covid-data/blob/master/regions.csv.

[2020-04-14 19:31] hnykda commented on #381
Which is weird as it is present in https://raw.githubusercontent.com/epidemics/epimodel-covid-data/master/johns-hopkins.csv and it's [here](https://github.com/epidemics/epimodel/blob/master/config.yaml).

I suspect that because it's code is `NA`, pandas treat it as NaN

[2020-04-14 19:31] hnykda commented on #381
https://github.com/epidemics/epimodel/commit/31a9c0305a86f5e660655fc0ef3a0551894f8b15

[2020-04-14 19:31] #381 closed

[2020-04-14 21:24] wolverdude commented on #326
@mathijshenquet, how about this JSON format for the tags?

[code]

Example:

[code]

I figured these nested objects would be helpful in showing how to group the containment measures in the display, but it could be better just to store `category` and `feature` within the tag objects and key them by tag name, since the frontend really only uses this data when it already has a specific containment me

[2020-04-14 21:58] mathijshenquet commented on #326
I agree that the second option makes more sense. In general I think that JSON keys should mostly be known values and not carry information themselves unless you are going definitely going to query the object by this key. This is because we mostly want to demarshallIng the data anyway and iterating over objects is kind of akward in JS.

[2020-04-14 23:33] wolverdude commented on #326
Okay. Preliminarily, I think I'll drop `quantity` and send it up with the containment measures instead. I can change it later if it turns out we need it.

Here's an example of the fully-formed JSON format. I did not include a `regions` layer because the data is not region-specific.

[code]

[2020-04-15 01:17] wolverdude opened #387 "Fix Tag Hierarchy Issues"
Now that we're pulling API data directly from the [Notion Tag/Feature Hierarchy Doc](https://www.notion.so/Tag-hierarchy-Features-db9799312efa4f88851e8d49393bbb16), the formatting and copy need to be more complete and consistent. I went through and fixed some issues just now, but I didn't feel qualified to answer all of the questions. Below are the remaining ones I identified.

I'm using regex to

[2020-04-15 01:20] wolverdude commented on #387
This issue is soft-blocking #326. I've been building out a solution in the [containment repo](https://github.com/epidemics/containment/tree/wolverdude/frontend).

[2020-04-15 06:11] hnykda commented on #386
https://github.com/epidemics/epimodel-covid-data/commit/348fddcd06a84e84fa464830e390907fcee7de71#diff-474501eda89597bacc5905341dbe29be solved by @gavento , thanks

[2020-04-15 06:11] #386 closed

[2020-04-15 09:08] mathijshenquet commented on #36
Given recent events I suggest we add a `production` branch and replace the github action hook for deploying to production from `master` to `production`. This also frees up `master` for quicker development. We could also drop the `staging` branch and deploy staging from the `master` branch but I think having `staging` for experiments is more valuable. ping @hnykda

[2020-04-15 14:58] hnykda opened #388 "Add export for new gleamviz in v4"
https://epidemicforecasting.slack.com/archives/CV93A58G7/p1586960771104600

[2020-04-15 23:20] lagerros opened #389 "Custom client site"
We want to deliver a "custom site" to clients who our pro bono team are doing consulting for, where they can explore the outputs of our modelling work in a similar interface as currently available on the site.

Basically this amounts to the client getting a specific URL, similar to  http://epidemicforecasting.org/?channel=david-j&selection=BR
that is used to visualised a file of traces uploaded to

[2020-04-16 00:36] lagerros opened #390 "Set up G Suite account with @epidemicforecasting.org email"
Urgency: low, can be done in a week.

We want a gmail account to be able to use better email integrations for managing the inbox (getting very large). Oxford's internal mail (outlook) isn't great for this.

Just set up the account and fix all the DNS stuff to verify domain, then make me admin, and I can handle the rest.

[2020-04-16 11:39] mathijshenquet commented on #36
We decided against this

[2020-04-16 11:39] #36 closed

[2020-04-16 17:17] mathijshenquet opened #391 "Custom client site (frontend side)"
Tracks the points from #389
- [ ] 1. Active infections estimates in a table (I propose we move this back, sounds like a bigger feature).
- [x] 2. Active infection estimates (just missing US)
- [x] 3. Cummulative + peak estimates
- [x] 4. Disable/enable scenario's and custom descriptions
- [x] 5. Custom description for models, should be supplied as a HTML fragment (see below).

For 4-5 these are gi

[2020-04-16 17:39] mathijshenquet opened #392 "Monaco missing population"
Monaco is missing population in the batch file

[2020-04-16 17:51] gavento opened #393 "Add automated data updates to epimodel"
We can easily have:
* Foretold updates
* Johns Hopkins updates

Should be doable with github actions.

Would be nice to have:
* Countermeasure updates (blocked on notion.so downloads and David's manual exports)

[2020-04-16 17:57] gavento opened #394 "Switch epimodel ./do script to click options"
Argparse is getting messy with many commands etc. Also hard to test (click has helpers for that).

[2020-04-16 19:48] #388 closed

[2020-04-16 19:49] hnykda commented on #377
Is this still relevant with https://github.com/epidemics/epimodel/pull/34 merged?

[2020-04-16 19:59] hnykda opened #395 "bring back the visualization of statistics and peaks"
As we used to have in the past, we had active infections in the top on the country page (as in https://github.com/epidemics/covid/blob/master/covid_local_app.png) and also the estimates, in past implemented via https://github.com/epidemics/covid/pull/287 (https://github.com/epidemics/covid/issues/192).

We should have it in the data soon via #388 (https://github.com/epidemics/epimodel/pull/34)

Un

[2020-04-16 20:07] hnykda commented on #389
# 2. and 3.
I created https://github.com/epidemics/covid/issues/395, but yes, we should be fine data-wise as soon as we have a new run (the functionality is there https://github.com/epidemics/epimodel/pull/34 but I need Tomas' approval it's correct).

# 1.
For 1. - how should it look like? Like an actual table like:

[code]
rendered on the model page?

# 4.
Mathijs has some proposal on #391 alread

[2020-04-16 20:07] hnykda commented on #391
(I will try to discuss as much as possible on #389 not to trash the discussion too much)

[2020-04-16 20:19] hnykda opened #396 "change the scenarios descriptions"
Rename the Scenario descriptions from the current `X% Every person ...` to:

[code]

(from discussion [here](https://epidemicforecasting.slack.com/archives/CV93A58G7/p1587066829160700))

[2020-04-16 20:22] hnykda commented on #389
Also, a side note, you Jacob mentioned that the complexity is low, that's IMO a bit underestimated.

[2020-04-16 20:44] lagerros commented on #389
Fair, though I meant doesn't require any larger architectural decisions etc(?)

1,2,3 sound good.
4 yes could be more or less.
5 static per client (but different between different clients).

[2020-04-16 22:56] mathijshenquet commented on #393
I have a branch where I was experimenting with this here: https://github.com/epidemics/epimodel/blob/growth-csv/.github/workflows/tasks.yml

Would you want it to autocommit to data?

Also @wolverdude is working on foretold containment exports for FE and maybe his work can be used to automate your last point.

[2020-04-16 22:57] mathijshenquet commented on #396
This goes well with #391 and the react rewrite

[2020-04-16 23:01] mathijshenquet commented on #391
I had in mind that 'id' is the identifier in the traces i.e None, 'name' is the button name and 'description' is the text below.

[2020-04-17 01:50] davidoj opened #397 "Tooltip displays incorrect infection numbers for cities"
If we view the epidemic trace for a city (e.g. http://epidemicforecasting.org/?channel=david-j&selection=G-AAX), the tooltip number of people infected is incorrectly determined by the country, not the city, population.

[2020-04-17 14:50] hnykda commented on #377
I am going to close this, as I don't think it's needed any more (and we should create more granular issues instead)

[2020-04-17 14:50] #377 closed

[2020-04-17 14:53] hnykda opened #398 "map visualization of beta parameters"
Add another map displaying current betas.

Betas could be sourced from the ESTIM2 table (Daniel, Tom, Mathijs can give access/send)

Proposed colors:
* Under 0.5 green
* over 1 red
* 1.5 magenta

[2020-04-17 16:01] mathijshenquet commented on #377
No this is basically fixed now

[2020-04-17 16:17] mathijshenquet opened #399 "Johns Hopkins data missing for the countries with provinces"
Data files are missing Johns Hopkins data missing for the countries with provinces. At least Australia and Canada.

[2020-04-17 16:20] mathijshenquet opened #400 "Custom consume site (backend side)"
Related to #391 and #398

The frontend expects:
 - Scenarios: https://github.com/epidemics/covid/blob/v4/common/spec/v4.ts#L62-L66
 - Description: https://github.com/epidemics/covid/blob/v4/common/spec/v4.ts#L72

[2020-04-17 17:44] hnykda commented on #395
Moving to In progress as @mathijshenquet is working on it in https://github.com/epidemics/covid/pull/401. Current staging:
![image](https://user-images.githubusercontent.com/2741256/79598227-d94f3600-80e3-11ea-9dbb-449139b1fb02.png)

please close this when done

[2020-04-17 17:48] hnykda commented on #288
AFAIK blocked now until  @jk3141 can give feedback

[2020-04-17 18:01] hnykda commented on #393
I would prefer k8s cronjobs, especially if it gets heavier (like downloading an HDF file etc). But no problem trying it via actions first too.

[2020-04-17 18:32] hnykda commented on #400
I didn't think that scenarios are going to be different _per region_ (or did I miss that from Jacob's description?). But OK I guess, especially given it's in the country-specific file.

If we went with this way... I assume that it would be present in the country specific file if and only if there is an "override" via the config.

I propose the config is like:

[code]
and during the runtime, we wou

[2020-04-17 19:01] mathijshenquet commented on #400
Maybe you are right, in that case no more features should be necessary

[2020-04-17 19:19] hnykda commented on #400
Sorry, in which part you think I am right? :grin:

[2020-04-17 19:48] mathijshenquet opened #402 "Old mitigations/scenarios still displayed briefly on load"

[2020-04-17 19:53] hnykda commented on #296
same as #296

[2020-04-17 19:53] hnykda commented on #395
Closed via #401

[2020-04-17 19:53] #395 closed

[2020-04-17 19:57] hnykda opened #403 "cleanup v3"
With #401, we migrated to V4 data spec and v3 is not needed.

- [x] remove all references to v3 in the covid repo
- [x] remove all references to v3 in the epimodel repo (https://github.com/epidemics/epimodel/blob/c909fd0b849fa33e1133ac0ab9e7ed7a2a0f0af7/config.yaml#L22)
- [x] delete old data from GCS to save space

[2020-04-17 20:01] hnykda commented on #348
@gavento Can you update on this? Can we model Maynmar too?

[2020-04-17 20:03] hnykda commented on #370
We are waiting for data from analytics (~5 more days).

[2020-04-17 20:06] jk3141 commented on #389
In my view we do not want this and work on this should be stopped

[2020-04-17 20:12] mathijshenquet opened #404 "Move to React"

[2020-04-17 20:26] hnykda commented on #396
Done via #401

[2020-04-17 20:26] #396 closed

[2020-04-17 20:29] hnykda opened #405 "validate groups and scenarios"
"data scenarios" are now detached from the "groups" in the data. Specifically this PR: https://github.com/epidemics/epimodel/pull/36/files adds groups but there is no guarantee that they match the data.

AC:
* validation is present for data scenarios and groups and they are somehow linked (at least by the key or something?) in the def yaml

[2020-04-17 20:31] hnykda commented on #348
@jk3141 @lagerros if we want it, we need estimates for it as per Tomas' comment https://epidemicforecasting.slack.com/archives/CV93A58G7/p1587154923185000?thread_ts=1587153769.184700&cid=CV93A58G7.

[2020-04-17 20:34] hnykda commented on #405
My mistake, it's fine, see the PR

[2020-04-17 20:34] #405 closed

[2020-04-17 23:22] lagerros opened #406 "Generate gleamviz xml files from output csv in Ought colab notebook"
[This notebook](https://colab.research.google.com/drive/1ZtXF95N2cKNS7XfcSz4dwRWkTgKi4Vmw) outputs both estimates of active infections and a list of gleam exceptions. Both are easily specified using a combination of Foretold and spreadsheets.

I'd want us to integrate the output with our existing libraries (in epimodel? or epifor?) for generating gleam files.

The current situation seems like:
- T

[2020-04-17 23:28] lagerros opened #407 "Update graph legend"
Replace “WEAK reduction in air travel” with “Less air travel”
Replace “STRONG reduction in air travel” with “Much less air travel”
Replace “10% HIGHER spread” with “Faster spread (110%)”
Replace “EXPECTED spread” with “Expected spread (100%)”
Replace “10% LOWER spread” with “Slower spread (90%)”

[2020-04-18 06:55] hnykda commented on #391
Moving to backlog as it's unclear we want it

[2020-04-18 07:02] hnykda commented on #406
This is a bigger task.

To make it actually useful, it would need much more design upfront, like how to deal with parameters for gleam (AFAIK we rather use some subset), how we combine strategies and groups and so on. Not sure how much more generic we can go, that really depends on Tomas though, he sees inside this.

I am also not that sure that having everything integrated in a notebook is the be

[2020-04-18 07:04] hnykda commented on #215
I am not sure what the resolution would be here, closing it.

[2020-04-18 07:04] #215 closed

[2020-04-18 07:05] hnykda commented on #279
We have the stats represented as CI now. So closing this.

[2020-04-18 07:05] #279 closed

[2020-04-18 07:05] hnykda commented on #382
Done

[2020-04-18 07:05] #382 closed

[2020-04-18 07:05] hnykda commented on #383
Fixed, was a problem with using foretold estimates instead of the Jan's table

[2020-04-18 07:05] #383 closed

[2020-04-18 11:16] OAGr commented on #215
Btw, I've implemented the relevant fix on Foretold, so at least distributions should show up correctly on Foretold now.

[2020-04-18 16:19] hnykda opened #408 "on mobile, scenarios names are cutoff"
Could be probably fixed by removing margin from the left and some font scaling.

![image](https://user-images.githubusercontent.com/2741256/79643038-496fc180-81a1-11ea-86f6-3159d9e714f1.png)

[2020-04-18 16:23] hnykda commented on #392
I checked the https://github.com/epidemics/epimodel-covid-data/blob/master/regions.csv from where the populations are fetched and it's present for Monaco, so have no idea where it's getting lost.

![image](https://user-images.githubusercontent.com/2741256/79643110-9b184c00-81a1-11ea-8614-0ef271988d43.png)

[2020-04-18 17:02] hnykda opened #409 "unify usage of initial_df and estimates_df"
Currently we source this from two places in the export:

* from https://github.com/epidemics/epimodel/blob/83f9bdd33a567d97b3b28904ac9fdef95a0831ab/epimodel/exports/epidemics_org.py#L453
* from the additional estimates sheet: https://github.com/epidemics/epimodel/blob/83f9bdd33a567d97b3b28904ac9fdef95a0831ab/epimodel/exports/epidemics_org.py#L499

I guess the motivation is to use the former for se

[2020-04-18 17:03] hnykda opened #410 "replace "models_df" by "cummulative_df""
Solve this todo: https://github.com/epidemics/epimodel/blob/83f9bdd33a567d97b3b28904ac9fdef95a0831ab/epimodel/exports/epidemics_org.py#L485

[2020-04-18 17:13] hnykda opened #411 "Improve data consistency check"
Currently, the function https://github.com/epidemics/epimodel/blob/83f9bdd33a567d97b3b28904ac9fdef95a0831ab/epimodel/exports/epidemics_org.py#L321-L394 is very big and not very bullet proof.

I propose we refactor it and clearly separates checks which are "mandatory" and which are rather informative/not show stoppers.

The function could filter out countries for which we don't have all values.

[2020-04-18 17:16] lagerros commented on #406
More detailed spec can be found here https://docs.google.com/document/d/1CJmoL0ypDTKjtpVLdyVTajeqKRp4HKujEduavkwobl8/edit?usp=drivesdk

That will probably clarify some things.

Could @gavento let me know if/when your are able to take this on?

[2020-04-18 18:46] #399 closed

[2020-04-18 18:46] hnykda commented on #399
Fixed https://github.com/epidemics/epimodel/pull/37

[2020-04-18 19:16] jez4 commented on #392
I just ran poetry run `./do -C config-local.yaml web_export out/batch-0417.hdf data/sources/estimates-JK-2020-04-15.csv` and the generated data-CHANNEL-v4.json has the population of Monaco at 38964 . I had the fresh clone from GH .
Are the populations taken from there ?

[2020-04-18 19:20] hnykda commented on #393
I make a very quick example how I imagine it could work (but it's not functional yet, I think it would take me another hour to finish it): https://github.com/epidemics/epimodel/pull/39

[2020-04-18 19:21] hnykda commented on #392
Yes, they would be there. Therefore it's maybe fixed by something else :shrug: ?

[2020-04-18 19:25] hnykda commented on #392
I confirm that I see it there too now! Thanks Michal for finding out then, please close this issue.

[2020-04-18 19:27] jez4 commented on #392
Was the error really in the batch file? . as I see on the pages that Monaco is not updating the population number.

[2020-04-18 19:31] #392 closed

[2020-04-18 19:33] mathijshenquet commented on #392
Sorry I think I know what happend here. It was still taking the population from the UN data thing because the population field used to be broken. Sorry for the confusion.

[2020-04-18 20:47] Nora-Ammann opened #413 "Add disclaimer to website"
Disclaimer:

[2020-04-18 21:58] mathijshenquet opened #414 "JH fields are strings instead of numbers in `data-CHANNEL-v4.json`"
I guess this is also why the data for AU and CA is missing #399?

[code]

Was this fixed with https://github.com/epidemics/epimodel/pull/37?

[2020-04-18 22:26] mathijshenquet opened #415 "Improve `web_export` and `web_upload` ergonomics"
I think exporting the data is a bit to fiddly and these things would really streamline my workflow:
1. Copy latest exports to `out/latest`,
2. Make `./do web_export` output a formatted JSON which is then verified and 'minified' by `./do web_upload`.
3. Make it so that `./do web_upload` uploads the latest thing you generated by default.

[2020-04-18 22:34] mathijshenquet opened #416 "Dont use UN age distribution to calculate population in frontend"
Previously the `Population` field was empty so we had to use this hack, it is no longer needed.

[2020-04-19 00:53] lagerros opened #417 "Integrate Ought notebook for automatically feeding data to back-end"
**Urgency:** low to medium (can be done in a few days to a week)
¨
We want to transition away from using manual data import from a spreadsheet, to having an automated pipeline that integrates with Foretold.

Ought has been helping us build some tooling for doing this. It can be found in [this Jupyter notebook](https://colab.research.google.com/drive/1ZtXF95N2cKNS7XfcSz4dwRWkTgKi4Vmw#scrollTo=ULCkj

[2020-04-19 04:33] wolverdude opened #418 "Add process for syncing survey results to notion.so countermeasure records"
These Google Forms results should be compiled into notion.so countermeasure records that will then be sent to the frontend through the solution to #326.

- [ ] [Social distancing and face mask usage](https://docs.google.com/spreadsheets/d/1ECp5y03WWHKG6wqWlVYz3x63dyOA1eKmQo5oxV1ozUk/edit?ts=5e953def#gid=1328060833)
- [ ] [Physical distancing and face mask usage](https://docs.google.com/spreadsheet

[2020-04-19 07:26] hnykda commented on #348
https://epidemicforecasting.slack.com/archives/CV93A58G7/p1587244550196000?thread_ts=1587153769.184700&cid=CV93A58G7

[2020-04-19 07:26] #348 closed

[2020-04-19 08:12] mathijshenquet commented on #414
Fixed by https://github.com/epidemics/epimodel/commit/7dd460b2f920dde605eaebf27427a993dbc9d0c7

[2020-04-19 08:12] #414 closed

[2020-04-20 19:54] hnykda opened #419 "move source data for mitigation map to epimodel"
Currently, the data are being fetched from https://storage.googleapis.com/static-covid/static/beta-estimates-2020-04-20.csv. We should at least commit it into epimodel-data repository.

We should incorporate it into either a separate file or into the main JSON.

I am not sure how often these will change though, so I do not think it is worth it. Let us keep an eye on that and depending on how often

[2020-04-20 20:00] hnykda commented on #390
What about the billing? Do we have a credit card to use?

G Suite is available for free for non-profits, but it is a quite long procedure (weeks), needs backing by local organizations (like TechSoup) etc., so I do not think it is an option atm.

[2020-04-21 00:06] lagerros commented on #390
We can reimburse the person who adds their card

[2020-04-21 00:06] lagerros commented on #390
Then I'll change to mine when I have the time

[2020-04-21 17:30] hnykda commented on #390
I wanted to do that but I need access to the DNS records to do that which only @gavento has access to. (https://support.google.com/a/answer/9212585)

[2020-04-21 17:35] hnykda commented on #404
How is it going @mathijshenquet ?

[2020-04-21 17:36] hnykda commented on #416
Didn't you actually want it to have it that way in case we needed it earlier? But given we have population there anyway, we indeed may not needed. How is it going?

[2020-04-21 17:36] hnykda commented on #398
Closing.

[2020-04-21 17:36] #398 closed

[2020-04-21 17:55] mathijshenquet commented on #404
I expect it to be done today or tomorrow morning

[2020-04-21 19:06] gavento commented on #390
I am happy to add the TXT record anytime someone asks me to do it. See e.g. https://support.google.com/a/answer/183895#generic_TXT

I have not done anything regarding domain registration at GCS yet.

[2020-04-21 19:11] hnykda commented on #390
Waiting for @lagerros  https://epidemicforecasting.slack.com/archives/C0100EK7N8N/p1587495895239900?thread_ts=1587490290.236300&cid=C0100EK7N8N

[2020-04-21 21:56] gavento commented on #406
Here is a version with most relevant exception adding features:
https://colab.research.google.com/drive/1X0Z8ola2wm0ur_kyeIBYDaAJy_XSNOC_

I also added a rather detailed description of the steps to use it, and some more notes.

Note that I had to change the spreadsheet example link (there were errors, e.g. "Sau Paulo") but the semantics are the same. The new spreadsheet is [here](https://docs.goog

[2020-04-21 22:02] gavento commented on #406
Note that the code is quite easily modifiabe and hackable - there is no Gleam complexity in this (and I believe others could also have built this with a bit of background knowledge, or improved further).

[2020-04-21 22:04] gavento commented on #406
TODO: Check how exceptions in gleam take priority (hierarchy? or just order? how?)
Note: The exceptions in the Colab are added first background then package. Adding a "Priority" column is possible (but likely feature bloat ATM).

[2020-04-21 22:37] lagerros commented on #406
Fantastic, looking forward to taking a look. For some reason can't open it though:
![image](https://user-images.githubusercontent.com/21347592/79920839-e753ce00-83e5-11ea-929e-aa504e279689.png)

[2020-04-22 13:19] mathijshenquet commented on #397
@davidoj I cannot currently use that page as the `data-url` fields are missing so I cant debug this. Potentially this is related to #416 and fixed by #420

[2020-04-22 20:32] mathijshenquet commented on #419
There is a commit in `epimodel/no-initial` (should be cherry picked) which adds `Beta1` and `Beta2` to the `data.csv`. This is already put into the `model` on the frontend. @jez4 could you quickly confirm which of those you are using, or is it something else entirely? See here: https://storage.googleapis.com/static-covid/static/data-testing-v4.json `regions[].CurrentEstimate`. I can wire it up wit

[2020-04-23 00:15] lagerros opened #422 "Fail gracefully if too few scenarios are submitted"
Currently if I submit traces that cover 8 different scenarios, but "Groups" in config only specify 4 scenarios; the website displays nothing at all.

It would be better if it just defaulted to the four scenarios it found.

Relevant code snippet, as spotted by Tomas in the dev console. It fails on `undefined` in

`    objs.forEach((scenario: Scenario) => {
      function readStat(obj: v4.ScenarioSt

[2020-04-23 10:35] #404 closed

[2020-04-23 10:48] #408 closed

[2020-04-23 18:44] jez4 commented on #419
@mathijshenquet I am sorry but I do not know how to help with this. I am not using any of these.

[2020-04-23 19:26] hnykda commented on #419
It was @veselyvojtech working on this. Vojta, can you answer Mathijs please?

[2020-04-23 20:25] mathijshenquet commented on #419
Whoops, sorry Michal

[2020-04-23 20:29] lagerros opened #423 "Add toggle for switching between cumulative and "active spreaders" graphs, on main model page"

[2020-04-23 21:25] mathijshenquet opened #424 "Prevent very wide region dropdown"
https://epidemicforecasting.slack.com/archives/CV93A58G7/p1587674937285500

[2020-04-23 22:36] mathijshenquet commented on #422
https://github.com/epidemics/covid/blob/0e04bb3c046618b60ab9e9e0ac6b77951136a9d5/frontend/models/scenario.ts#L57

[2020-04-23 22:42] mathijshenquet commented on #409
`initial_df` is/will be removed in the epimodel PR created during the Pakistan push

[2020-04-23 22:43] mathijshenquet commented on #403
I think we can do this now

[2020-04-23 22:45] mathijshenquet commented on #416
Fixed by #420

[2020-04-23 22:45] #416 closed

[2020-04-23 22:45] mathijshenquet commented on #402
Fixed by #420

[2020-04-23 22:45] #402 closed

[2020-04-23 22:50] mathijshenquet commented on #415
@gavento could you give your opinion on these ideas, we could do it together with https://github.com/epidemics/covid/issues/394

[2020-04-24 00:13] lagerros opened #426 "Generate provincial forecasts for Pakistan"
We have forecasts for ~30 different regions, but we want to turn a weighted linear combination of the traces into forecasts for each of the 7 distinct administrative units.

Connor has provided the relevant weights here, in the "Region to Province map": https://docs.google.com/spreadsheets/d/1IxPMadPxjnphWSKG_6PxmsrCLoXe3cHGp1Ok9kcddPk/edit#gid=1378327731 (you will need to be granted access)

Now

[2020-04-24 07:57] #422 closed

[2020-04-24 07:59] mathijshenquet commented on #422
@Jacob I pushed a potential fix to this. Because this issue was not reproducible I'm not really sure why it was failing.

If it does not work please reopen this issue and push the data to a specific channel like `bug-422` so I can easily reproduce it.

[2020-04-24 08:02] mathijshenquet commented on #426
I would prefer if this logic did not end up in the frontend. Can epimodel accommodate this @gavento?

[2020-04-24 13:23] #424 closed

[2020-04-24 18:25] mathijshenquet commented on #415
4. Add a `--upload CHANNEL` flag or something similar to `./do web_export` which also runs `./do web_upload` after

[2020-04-25 07:04] gavento commented on #415
@mathijshenquet I like all of them!

[2020-04-25 07:19] gavento commented on #426
This seems quite expensive and complex to implement and I would advise against it. Also I doubt the benefits.

* **Most importantly:** Gleam - and our simple SEIR model - may not be as useful for small-scale _quantitative_ modeling to warrant this accuracy. Both are very rough tools intended for qualitative forecasts with high uncertainty, redistributing 5% only adds the impression of precision.

[2020-04-26 11:01] #423 closed

[2020-04-27 23:22] wolverdude commented on #426
New custom regions that consist of arbitrary other regions could be added fairly easily through a join table (or join CSV... we really should think about getting an actual DB at some point). This would not break the existing region model since it would just be tacked onto it. I would feel dirty about doing this sort of thing except that it really is the way I would choose to design the whole regio

[2020-04-27 23:36] lagerros commented on #426
I think @gavento is wrong about that.

1) This would still be showing multiple trajectories, including uncertainty. Use case is ~the same. We're modelling rough trajectories in regions with tens of millions of inhabitants over many months; and not using it for short-term quantitative modelling.
2) We have good input data for this country.
3) We are in close contact with the decision-makers so can

[2020-04-28 01:56] #370 closed

[2020-04-28 17:04] wolverdude commented on #426
We've run into a bit of an issue tabulating population for weighting the linear averages. It appears that the population data in [`regions-gleam.csv`](https://github.com/epidemics/epimodel-covid-data/blob/master/regions-gleam.csv) does not remotely line up with the population numbers in [the spreadsheet](https://docs.google.com/spreadsheets/d/1IxPMadPxjnphWSKG_6PxmsrCLoXe3cHGp1Ok9kcddPk/edit#gid=1

[2020-04-28 17:17] lagerros commented on #426
Sorry, we should have pushed our updated `regions-gleam.csv` which is consistent with the spreadsheet.

The spreadsheet numbers are the authoritative ones; the gleam ones are a bit outdated.

[2020-04-28 19:42] mathijshenquet commented on #426
My understanding: The gleam traces do not quantitatively represent the amount of covid cases. The reason for this is that 'active' really means 'infectious' and this is modelled as just a few days if I'm not correct. Aftwards, even though people are sick, they don't really infect a lot of others anymore.

It would be very helpful to lookup a onset-to-outcome distribution and convolute it with the

[2020-04-28 19:57] wolverdude commented on #426
If what @mathijshenquet says is true, doesn't that make the entire curve misleading? People are going to intuitively look at those lines and think, "This is the percentage of the population who are actively infected, regardless of whether they are infecting others". I thought the hospital line was ditched due to a combination of it having to be scaled to match what the line means (and thus looking

[2020-04-28 20:00] wolverdude commented on #426
@lagerros, could you push the updated `regions.csv` and `regions-gleam.csv` to master so that everyone can use the most up-to-date data?

[2020-04-28 21:04] wolverdude commented on #426
@lagerros, we need the `.hdf` file for Pakistan.

[2020-04-28 21:09] lagerros commented on #426
hdf file sent on slack

To @mathijshenquet , I think the y-axis should say "Active spreaders" rather than "Active infection".

It shows the people in time-window when they are most infectious -- at the end of pre-symptomatic period and beginning of symptomatic period before isolation.

I pushed a commit a while back that changed the word, but for a mysterious reasons it later went back to "Active

[2020-04-28 21:18] lagerros opened #430 "Round large y-axis to no decimals"
The new cumulative graph ("total") feature is really nice.

Would it be possible for the y-axis to round to no significant digits for larger numbers?
i.e. could it say “70%” instead of “70.0%“?

We'd still want it such that if you zoom in on smaller numbers (e.g. the 0%-1% range) it show more decimals.

Not sure how hard this is; probably not worth it if it's messy, but would be nice if it's easy.